/*
Syntax error: File to import not found or unreadable: variables.
              Load paths:
                /Users/mrmrs/Sites/nightslayer
                /Users/mrmrs/Sites/nightslayer/_sass
        on line 5 of _sass/i.scss

1: /* ==========================================================================
2:    FILES TO IMPORT
3:    ========================================================================== */
4: 
5: @import "variables";
6: @import "mixins";
7: @import "normalize";
8: @import "type";
9: @import "grid";
10: @import "spacing";

Backtrace:
_sass/i.scss:5
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/import_node.rb:45:in `import'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: variables.\A               Load paths:\A                 /Users/mrmrs/Sites/nightslayer\A                 /Users/mrmrs/Sites/nightslayer/_sass\A         on line 5 of _sass/i.scss\A \A 1: /* ==========================================================================\A 2:    FILES TO IMPORT\A 3:    ========================================================================== */\A 4: \A 5: @import \"variables\";\A 6: @import \"mixins\";\A 7: @import \"normalize\";\A 8: @import \"type\";\A 9: @import \"grid\";\A 10: @import \"spacing\";"; }
