<div class="skin-lightest-gray p2">
  <div class="container contain-to-md">
    <article class="m2">
      <header>
        <h4 class="h4">Perks</h4>
      </header>
      <ul>
        <li>Competitive pay</li>
        <li>A technologically and data driven business</li>
        <li>Exposure to Stitch Fix business</li>
        <li>A leadership team that wants to do it right and is open to new ideas</li>
        <li>Startup with a proven business model that’s growing fast</li>
        <li>Meaningful, interesting and challenging project work</li>
        <li>A program rooted in Stitch Fix Mission and Values</li>
        <li>Onboarding and social activities (happy hours, Giants games, lunch and learns, etc.)</li>
        <li>Fully stocked pantry with your choice of snacks and drinks</li>
        <li>Sunny offices in downtown San Francisco</li>
      </ul>
    </article>
  </div>
</div>
