---
layout: default
---

{% include _header.html %}
<div class="bg-green">
  <div class="column-wrapper section-padding">
      <h1 class="h2 m-0">Open Positions</h1>
  </div>
</div>
<article class="column-wrapper">
  <div class="half-padding">
    <br >
    <ul class="large-list ct mt-1 mb-4">
      {% for post in site.posts %}
        <li class="large-list-i">
              <a href="{{post.url}}" title="{{post.title}}" class="link caps b f3 trans-pl">
                {{ post.title }} <span>»</span>
              </a>
        </li>
      {% endfor %}
    </ul>
    <p class="section-padding">
      Get in touch at 
      <a href="mailto:tech-jobs@stitchfix.com" title="Email tech-jobs@stitchfix.com" class="btn-click btn-yellow">tech-jobs@stitchfix.com</a>
    </p>
  </div>
</article>
