---
layout: default
---

<header class="py8 pos-rel bg-fixed skin-dark-gray skin-dot center" id="intro">
  <section class="container contain-to-md">
    <h1 class="skin-darkest-gray trans9 p2 m1">
      <img src="/assets/images/stitchfix-technology.svg" alt="Stitch Fix Engineering and Data Science">
    </h1>
    <div class="skin-darkest-gray trans9 p1">
      <h2 class="h3 m1 thin text-c">
        We are reinventing the retail industry through innovative technology.
      </h2>

      <p class="skin-darkest-gray trans9 m1 text-c">
        We're a full-stack startup creating unique solutions in data-driven merchandising, massively scaled
        personal
        styling, and complex logistics. We value very lightweight planning, continuous deployment, little tech
        debt, no product managers.
      </p>
    </div>
  </section>
</header>

{% include _engineering.html %}

{% include _data_science.html %}

{% include _culture.html %}

{% include _team.html %}

<div class="skin-mint py2">
  <div class="container contain-to-md">
    <footer class="m2 text-c">
      <ul class="list-inline list-nav">
        <li><a href="/blog/index.html" class="btn btn-secondary m0">Visit Our Tech Blog</a></li>
        <li class="text-c">or</li>
        <li><a href="/jobs/index.html" class="btn btn-secondary m0">View Open Jobs</a></li>
      </ul>
    </footer>
  </div>
</div>
