<div class="skin-mint p2">
  <div class="container contain-to-md m4">
    <article class="m0">
      <header>
        <h4 class="h4">The Company</h4>
      </header>
    </article>
    <article class="m2">
      <p>
        Stitch Fix is one of the most successful and innovative new ecommerce businesses. We are a <a
      href="http://cdixon.org/2014/03/15/full-stack-startups/">Full-Stack Startup</a>. We’re not a tech company with
        a
        purely tech product, and we’re not a traditional retail business with some tech awkwardly bolted on the side. We
        are true equal partners with the merchandisers, the stylists, the client services team, the operations team, the
        analysts and the marketers, as important to the success of the company as they are, but no more.
      </p>

      <p>
        Fortunately, we are highly trusted by the entire company because we deliver on what we promise and because we
        are
        completely transparent about our successes and failures - and this is a fast growing startup so that plenty of
        those!
      </p>
      <p><a href="https://www.stitchfix.com/about">Read more about Stitch Fix</a></p>
    </article>
  </div>
</div>