<div class="skin-mint p2">
  <div class="container contain-to-md m4">
    <article class="m0">
      <header>
        <h4 class="h4">The Company</h4>
      </header>
    </article>
    <article class="m2">
      <p>
      Stitch Fix is redefining retail shopping using a unique blend of art and science to deliver a deeply personalized service to our customers. This novel juxtaposition—at once analytic and artistic, technical and adventurous—attracts an extraordinary collection of talented people who are both thinkers and doers. Our diverse workforce has catalyzed enormous company growth over the past three years in terms of customer satisfaction and service efficacy. We’d love for you to help us carry on the trend.
      </p>
      <p><a href="https://www.stitchfix.com/about">Read more about Stitch Fix</a></p>
    </article>
  </div>
</div>
