<section class="apply">
  <div class="bin">
    <div class="c12">
      <h2>What We Are Looking For</h2>
      <article>
        <h4>Communication Skills</h4>
        <p>
          You aren't just great at listening, speaking and writing.  
          You are able to convey complex ideas and information regardless of the medium or situation
        </p>
        <h4>Product-Centric Thinking</h4>
        <p>
          You come from a technology background but you have opinions about how the product you are building should work. 
          You dig deep and work with customers and the company to uncover the ideal way to leverage technology to solve problems.
        </p>
        <h4>Self-Directed</h4>
        <p>
          Once you've got something, we don't have to worry about it.  
          You have a bias toward action.
        </p>
        <h4>Passion</h4>
        <p>
          You love what you do.
          You spend some of your free time reading blogs/books, or going to meet ups.
        </p>
        <h4>Just Generally Awesome</h4>
        <p>
          You take your work seriously but not yourself. You show everyone respect regardless of the circumstances. Extra points if we think you're funny.
         </p>
        <h4>Location</h4>
        <p>While our preference is for everyone to work in San Francisco, we will make an exception if you are an exceptional fit.</p>
        <br />
      </article>
      <article class="c12 alpha">
        <h2 id="apply">Positions</h2>
        <h3 class="position"><a href="{{site.url}}/rails.html" title="Full Stack Rails Engineer - Stitch Fix">Full-stack Rails Engineer</a></h3>
      </article>
      <article class="c12 alpha">
        <h3 class="position">
          <a href="{{site.url}}/ios.html" title="iOS Developer - Stitch Fix">iOS Developer</a>
        </h3>
      </article>
      <article class="c12 alpha">
        <h3 class="position">
          <a href="{{site.url}}/director-data-science.html" title="Director of Data Science Engineering - Stitch Fix">
            Director of Data Science Engineering
          </a>
        </h3>
      </article>
      <article class="c12 alpha">
        <h3 class="position">
          <a href="{{site.url}}/data-scientist-algorithm-dev.html" title="Data Scientist Algorithm - Stitch Fix">
            Data Scientist - Algorithm Development
          </a>
        </h3>
      </article>
      <article class="c12 alpha">
        <h3 class="position">
          <a href="{{site.url}}/data-scientist-intern.html" title="Data Scientist Intern - Stitch Fix">
            Data Scientist Intern - Algorithm Development
          </a>
        </h3>
      </article>
      <div class="c12 alpha join-us">
        <h2>Join Us</h2>
        <p>
          We are always looking for talented &amp; awesome people to work with - so even if you don't see something that matches your skill set, please
          drop us a line at <br />
          <a href="mailto:tech-jobs@stitchfix.com" title="Stitch Fix Engineering Jobs">tech-jobs@stitchfix.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
