<!--

 $$$$$$\ $$$$$$$$\ $$$$$$\ $$$$$$$$\  $$$$$$\  $$\   $$\       $$$$$$$$\ $$$$$$\ $$\   $$\          
 $$  __$$\\__$$  __|\_$$  _|\__$$  __|$$  __$$\ $$ |  $$ |      $$  _____|\_$$  _|$$ |  $$ |       
 $$ /  \__|  $$ |     $$ |     $$ |   $$ /  \__|$$ |  $$ |      $$ |        $$ |  \$$\ $$  |      
 \$$$$$$\    $$ |     $$ |     $$ |   $$ |      $$$$$$$$ |      $$$$$\      $$ |   \$$$$  /      
  \____$$\   $$ |     $$ |     $$ |   $$ |      $$  __$$ |      $$  __|     $$ |   $$  $$<      
  $$\   $$ |  $$ |     $$ |     $$ |   $$ |  $$\ $$ |  $$ |      $$ |        $$ |  $$  /\$$\   
  \$$$$$$  |  $$ |   $$$$$$\    $$ |   \$$$$$$  |$$ |  $$ |      $$ |      $$$$$$\ $$ /  $$ | 
   \______/   \__|   \______|   \__|    \______/ \__|  \__|      \__|      \______|\__|  \__|
                                                                                                                                            
                                                                                                                                            
  Fun stats about this page. 
  This page validates as HTML5. 

  Konami code reveals easter egg and also hides it. 

-->
