<article id="culture">
  <div class="container contain-to-md">
    <header class="text-c py8">
      <h1 class="h1 thin">Culture</h1>
      <h2 class="h2 thin light">Bright, Kind, Goal-oriented.</h2>
    </header>
    <div class="grid">
      <section class="g _1-3 _1-1-sm mb4">
        <header>
          <h4 class="h4">Bright</h4>
        </header>
        <p>We have really interesting problems to solve due to our unique business model and hire really bright people to tackle them. If it were easy everyone would be doing it, right? We start with problems and goals and work collaboratively to come to the right solutions.</p>
      </section>
      <section class="g _1-3 _1-1-sm mb4">
        <header>
          <h4 class="h4">Kind</h4>
        </header>
        <p>It's not just being clever that makes you a good fit at Stitch Fix. We really value how well our team works together and kindness a huge part of it. Working with people we enjoy being around and that make us excited to start work each day is a big part of our success.</p>
      </section>
      <section class="g _1-3 _1-1-sm mb4">
        <header>
          <h4 class="h4">Goal-oriented</h4>
        </header>
        <p>We love people who are driven and self-motivated. We are a not a heavily process-driven organization. We value autonomy combined with results. No one likes to be micro-managed and we don't want to manage people that way either.</p>
      </section>
    </div>
  </div>
  <footer>
    <div class="skin-mint py2">
      <div class="container contain-to-md">
        <article class="m0">
          <p>In short, we get stuff done. We test. We learn. We work well together. We think big. We care about the product we are building. We push boundaries. And it's a lot of fun.</p>
          <p>We love what we do and we take the time to do it right.</p>
        </article>
      </div>
    </div>
  </footer>
</article>
