<section id="culture">
  <div class="bg-green section-padding">
    <div class="column-wrapper">
      <h1 class="h2">Our Culture</h1>
      <ul class="grid v1-grid--2col v3-grid--5col v2-grid--4col">
        <li class="grid-cell">
        <div class="icon-wrapper">
          <span class="ss-icon"> &#xE714;  </span>
          Coding
        </div>
        </li>
        <li class="grid-cell">
        <div class="icon-wrapper">
          <span class="ss-icon"> &#x1F4A1; </span>
          Thinking
        </div>
        </li>
        <li class="grid-cell">
        <div class="icon-wrapper">
          <span class="ss-icon"> &#x25B6; </span>
          Playing
        </div>
        </li>
        <li class="grid-cell">
        <div class="icon-wrapper">
          <span class="ss-icon"> &#xE570; </span>
          Dataing
        </div>
        </li>
        <li class="grid-cell">
        <div class="icon-wrapper">
          <span class="ss-icon"> &#xF120; </span>
          Coffeeing*
        </div>
        </li>

      </ul>
      <p>
        We get stuff done. We have fun. We test. We learn. 
        We work well together.
        We think big.
        We care about the product we are building. 
        We push boundaries.
      </p>
      <p class="alpha about-us">
        We love what we do 
        &amp; 
        we take the time to do it right.
      </p>
      <p><small>* It's totally OK if you don't like coffee ;)</small></p>
    </div>
  </div>
</section>
