<section class="bg-green" id="culture">
  <div class="">
      <h1 class="h2">Our Culture</h1>
      <ul class="list">
        <li class="first">
          <span class="ss-icon"> &#x25B6; </span>
          Playing
        </li>
        <li>
          <span class="ss-icon"> &#xE714;  </span>
          Coding
        </li>
        <li>
          <span class="ss-icon"> &#x1F4A1; </span>
          Thinking
        </li>
        <li>
          <span class="ss-icon"> &#xE570; </span>
          Dataing
        </li>
        <li>
          <span class="ss-icon"> &#xF120; </span>
          Coffeeing
        </li>
      </ul>
      <blockquote class="quote">
        Building something simple and beautiful is the most important task.
      </blockquote>
      <p>
        We get stuff done. We have fun. We test. We learn. 
        <strong>We work well together</strong>. 
        We drink beer and sip nice whiskey. 
        We're big thinkers. 
        We care about the product we are building. 
        We push boundaries.
      </p>
      <p class="alpha about-us">
        We love what we do 
        <strong>&amp;</strong> 
        We take the time to do it right.
      </p>
</section>
