<article class="m0" id="data-science-jobs">
  <header>
    <h4 class="h4 thin">Data Science Jobs at Stitch Fix</h4>
  </header>
  <dl>
    <dt><a href="/jobs/data-science-engineer.html">Data Science Engineer</a></dt>
    <dd>Data modeling, persistence/retrieval of data at scale, machine learning frameworks, statistical model,
      and more.
    </dd>
    <dt><a href="/jobs/data-scientist-algorithm.html">Data Scientist</a></dt>
    <dd>Consumer algorithms, recommendation engines, statistical modeling/analysis, and more.</dd>
    <dt><a href="/jobs/algorithm-developer.html">Algorithm Developer</a></dt>
    <dd>Play a central role and contribute to the recommendations that drive our service.</dd>
    <dt><a href="/jobs/merch-algorithms-developer.html">Data Scientist - Merch Algorithms</a></dt>
    <dd>Apply your expertise in quantitative analysis and data munging to understand our clients</dd>
  </dl>
</article>