<article id="data-science">
  <div class="container contain-to-md">
    <header class="text-c py8">
      <h1 class="h1 thin">Data Science</h1>
      <h2 class="h2 thin light">We breath data, do awesome data science and engineering,
                                and develop cutting-edge algorithms.
      </h2>
    </header>
    <section class="mb4">
      <header>
        <h4 class="h4">Data</h4>
      </header>
      <p>At Stitch Fix we’re pioneering uncharted territories. Data is the fundamental
          unit of our business model and to succeed we have some of the brightest and most
          highly motivated individuals on our team. It’s in our nature to get things done,
          formulate novel and creative solutions to complex problems, and communicate
          our results through awesome visualizations. </p>
    </section>
    <section class="mb4">
      <header>
        <h4 class="h4">Algorithms</h4>
      </header>
      <p>We commit to our recommendations by physically delivering them to our clients.
         Our business requires a mix of art and science in everything we do: from buying
         inventory to sending the right items to the right clients. </p>
    </section>
  </div>
  <footer>
    <!-- <div class="skin-lightest-gray py2">
      <div class="container contain-to-md">
        <article class="m0">
          <header>
            <h4 class="h4 thin light">Tools</h4>
          </header>
          <div class="grid">
            <div class="g _1-1-sm _1-2">
              <dl>
                <dt>Python</dt>
                <dd>clean, fast, functional</dd>
                <dt>R</dt>
                <dd>powerful statistical computing and graphics</dd>
              </dl>
            </div>
            <div class="g _1-1-sm _1-2">
              <dl>
                <dt>SQL</dt>
                <dd>advanced data queries</dd>
                <dt>Postgres</dt>
                <dd>enterprise power with open source quality</dd>
              </dl>
            </div>
          </div>
        </article>
      </div>
    </div> -->
    <div class="skin-mint py2">
      <div class="container contain-to-md">
        {% include _data_science_jobs.html %}
        <p>
          <small><a href="#engineering" class="dark">Looking for engineering jobs at Stitch Fix?</a></small>
        </p>
      </div>
    </div>
  </footer>
</article>
