<article class="m0" id="data-science-jobs">
  <header>
    <h4 class="h4 thin">Data Science Jobs at Stitch Fix</h4>
  </header>
  <dl>
    <dt><a href="/jobs/data-engineer.html">Data Science Engineer</a></dt>
    <dd>Data modeling, persistence/retrieval of data at scale, machine learning frameworks, statistical model,
      and more.
    </dd>

    <dt><a href="/jobs/data-scientist.html">Data Scientist</a></dt>
    <dd>Consumer algorithms, recommendation engines, statistical modeling/analysis, and more.</dd>

    <dt><a href="/jobs/data-science-intern.html">Data Science Intern</a></dt>
    <dd>Learn and deliver cutting-edge data science solutions.</dd>
</dl>
</article>
