<article class="m0" id="design-jobs">
  <header>
    <h4 class="h4 thin">Design Jobs at Stitch Fix</h4>
  </header>
  <dl>
    <dt><a href="/jobs/lead-product-designer-stylist-platform.html">Lead Product Designer – Stylist Platform</a></dt>
    <dd>Lead product design for the software that drives stylists’ interactions with our customers.</dd>
    <dt><a href="/jobs/ux-designer-customer-acquisition.html">UX Designer – Customer Acquisition</a></dt>
    <dd>Join us in designing our customer-facing product.</dd>
    <dt><a href="/jobs/ux-designer-expert-use-systems.html">UX Designer – Expert-Use Systems</a></dt>
    <dd>Help us shape the software that runs our business. </dd>
  </dl>
</article>
