<div class="skin-lightest-gray p2">
  <div class="container contain-to-md">
    <article class="m2">
      <header>
        <h4 class="h4">Perks</h4>
      </header>
      <ul>
        <li>A business that trusts and embraces design</li>
        <li>A leadership team that want to do it right and is open to new ideas</li>
        <li>A startup with a proven business model that’s growing fast</li>
        <li>A comprehensive health insurance plan, including full dental and vision coverage</li>
        <li>Sunny offices in downtown San Francisco near Union Square</li>
      </ul>
    </article>
  </div>
</div>
