<div class="container contain-to-md small-dl">
  <article class="m2">
    <header>
      <h4 class="h4 thin light">We get excited about engineers who can demonstrate</h4>
    </header>
    <div class="grid">
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Real Tech Fluency</dt>
          <dd>You can build anything with anything, and you probably have 3+ years
            software development experience with a couple of those years working in Ruby on Rails.
            You can learn from us, and we can learn from you.
          </dd>
          <dt>Great Communication Skills</dt>
          <dd>You aren’t just great at listening, speaking, and writing. You are
            able to convey complex ideas and information regardless of the medium or situation.</dd>
          <dt>Product-Centric Thinking</dt>
          <dd>You have opinions about how the product you’re building should
            work. You dig deep and work with customers, the company, and our executive team to uncover the ideal way to
            leverage technology to solve problems.</dd>
        </dl>
      </div>
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Self-Directed Working Style</dt>
          <dd>Once you’ve got something, we don’t have to worry about it. You have a bias
            toward action. Our team doesn’t have QA, Project Managers, or Product Managers, so we take ownership of what we
            build.</dd>
          <dt>Respect for the Craft</dt>
          <dd>
          You build software sustainably, using modern techniques.  You are always looking for more and better
          ways to write software, and are willing to share them with your team.
          </dd>
          <dt>Being Bright, Goal-Oriented, &amp; Kind</dt>
          <dd>You take your work seriously but not yourself. You show everyone
            respect, regardless of the circumstance. Extra points if you’re already a Stitch Fix superfan!</dd>
        </dl>
      </div>
    </div>
  </article>
</div>

<div class="container contain-to-md small-dl">
  <article class="m2">
    <header>
      <h4 class="h4 thin light">Bonus points</h4>
    </header>
    <div class="grid">
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Experience working collaboratively as a team</dt>
          <dd>We use GitHub, Heroku, HipChat, Screen Hero, and Blue Jeans to get stuff done
            online.
            We’re more interested in your personal process for collaboration than specific technologies, but are
            always on the lookout for better ways to work.
          </dd>
          <dt>Good at prototypes and design discussion</dt>
          <dd>Experience using pull requests, one-pagers, or screencasts to create rapid prototypes that demonstrate new features</dd>
        </dl>
      </div>
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Experience with testing and CI</dt>
          <dd>We're working with the usual Ruby gems like
            Rspec,
            Capybara and others for unit and feature tests and use CircleCI to bring it all together.</dd>
          <dt>Experience or interest in distributed, service-oriented architecture</dt>
          <dd>We’re using tools like RabbitMQ, ElasticSearch, and headless HTTP services to scale
          our team and software.  We’re learning as we go, so your experience or keen interest
          can ensure our systems handle our ever-increasing load.
          </dd>
        </dl>
      </div>
    </div>
  </article>
</div>

<div class="container contain-to-md">
  <article class="m4">
    <p><a href="/#engineering">More about Stitch Fix Engineering</a></p>
  </article>
</div>
