<article class="m0" id="engineering-jobs">
  <header>
    <h4 class="h4 thin">Engineering Jobs at Stitch Fix</h4>
  </header>
  <dl>
    <dt><a href="/jobs/vpe.html">VP of Engineering, Client Experience</a></dt>
    <dd>Lead product development across all of our consumer products, external and internal facing.</dd>
    <dt><a href="/jobs/head-devops.html">Head of Technical Operations/DevOps</a></dt>
    <dd>Lead Technical Operations across all technology products—client and staff facing.</dd>
    <dt><a href="/jobs/lead-ios.html">Lead iOS Engineer</a></dt>
    <dd>Build Stitch Fix's mobile presence from the ground up.</dd>
    <dt><a href="/jobs/lead-full-stack-rails.html">Full Stack Rails Engineer</a></dt>
    <dd>Experience in Ruby, Rails, front-end development, and Product design.</dd>
  </dl>
</article>
