<article class="m0" id="engineering-jobs">
  <header>
    <h4 class="h4 thin">Engineering Jobs at Stitch Fix</h4>
  </header>
  <dl>
    <dt><a href="/jobs/director-engineering-customer-experience.html">Director of Engineering, Customer Experience</a></dt>
    <dd>Lead our Product Development efforts across all customer facing products.</dd>
    <dt><a href="/jobs/head-user-experience.html">Head of User Experience</a></dt>
    <dd>Lead Product Design across all technology products, client and staff facing.</dd>
    <dt><a href="/jobs/senior-full-stack-rails.html">Sr. Full Stack Rails Engineer</a></dt>
    <dd>Experience in Ruby, Rails, front-end development, and Product design.</dd>
  </dl>
</article>