<div class="container contain-to-md small-dl">
  <article class="m2">
    <header>
      <h4 class="h4 thin light">We get excited about engineers who have the following</h4>
    </header>
    <div class="grid">
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Real tech fluency</dt>
          <dd>You can build anything with anything, and you probably have 5+ years
            software development experience with a couple of those years working in Ruby on Rails.</dd>
          <dt>Communication skills</dt>
          <dd>You aren’t just great at listening, speaking, and writing. You are
            able to convey complex ideas and information regardless of the medium or situation.</dd>
          <dt>Product-Centric Thinking</dt>
          <dd>You have opinions about how the product you’re building should
            work. You dig deep and work with customers, the company and our executive team to uncover the ideal way to
            leverage technology to solve problems.</dd>
        </dl>
      </div>
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Self-Directed</dt>
          <dd>Once you’ve got something, we don’t have to worry about it. You have a bias
            toward action. Our team doesn’t have QA, Project Managers, or Product Managers so we take ownership of what we
            build.</dd>
          <dt>Passion</dt>
          <dd>You love what you do and can share side projects or open source contributions with
            a GitHub repository or personal project page or blog.</dd>
          <dt>Just Generally Awesome</dt>
          <dd>You take your work seriously but not yourself. You show everyone
            respect regardless of the circumstance. Extra points if you’re already a Stitch Fix superfan!</dd>
        </dl>
      </div>
    </div>
  </article>
</div>

<div class="container contain-to-md small-dl">
  <article class="m2">
    <header>
      <h4 class="h4 thin light">Bonus points</h4>
    </header>
    <div class="grid">
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Experience working collaboratively as a team</dt>
          <dd>We use GitHub, Heroku and HipChat to get stuff done both
            online.
            We’re agnostic about what technologies you’ve used and are more interested in the processes you prefer.</dd>
          <dt>Good at prototypes and design discussion</dt>
          <dd>Experience using pull requests to create rapid prototypes and demonstrate new features</dd>
        </dl>
      </div>
      <div class="g _1-1-sm _1-2">
        <dl>
          <dt>Experience with testing and CI</dt>
          <dd>We're working with the usual Ruby gems like
            Rspec,
            Capybara and others for unit and feature tests, CircleCI and RabbitMQ for asynchronous messaging.</dd>
          <dt>You find unique ways to automate and get things done</dt>
          <dd>If you’ve created a Ruby gem to complete a task in your
            projects,
            tell us about it! :)</dd>
        </dl>
      </div>
    </div>
  </article>
</div>

<div class="container contain-to-md">
  <article class="m4">
    <p><a href="/#engineering">More about Stitch Fix Engineering</a></p>
  </article>
</div>