<article id="engineering">
  <div class="container contain-to-md">
    <header class="text-c py8">
      <h1 class="h1 thin">Engineering</h1>

      <h2 class="h2 thin light">Our multi-app, event-driven application architecture drives both scale and
        flexibility.</h2>
    </header>
    <section class="mb4">
      <header>
        <h4 class="h4">Many applications and services</h4>
      </header>
      <p>There are no monoliths here. Each application in our platform has a clear and distinct purpose and all of them
        are built in house. That means small, clean code bases with little technical debt and lots of
        flexibility. We use RabbitMQ to send messages about real-world events to other apps which decide
        whether or not to do something with them. This de-coupled, asynchronous architecture allows us to scale with
        ease and add or change
        components as needed. When it really makes sense we will build a RESTful API to wrap a service requiring an
        immediate
        response.</p>
    </section>
    <section class="mb4">
      <header>
        <h4 class="h4">Product is our primary concern</h4>
      </header>
      <p>We hire engineers with great Product instincts because we are also the Product team: building great software
        is a collaborative effort so we work directly with stakeholders in the business.
        We are a central part of the business so we deliver real value and not just features, and because we understand
        how Stitch Fix works we are trusted to focus our time and effort where they are most needed.</p>
    </section>
    <section class="hidden mb4">
      <header>
        <h4 class="h4">Deadlines are doomed to fail</h4>
      </header>
      <p>Starting a conversation with a due date dooms it to fail from the beginning. Deadlines don't get things
        done faster but they do encourage stress, bad decisions, and technical debt. We still deliver a lot in a short
        period of
        time, but we don't burn ourselves out in the process.</p>
    </section>
    <hr>
  </div>
  <div class="container contain-to-md">
    <aside class="m4">
      <header>
        <h4 class="h4 thin light">Some of what we work on</h4>
      </header>
      <div class="grid">
        <div class="g _1-1-sm _1-2 m1">
          <header>
            <h5 class="h5 uppercase">Personal Styling</h5>
          </header>
          <ul>
            <li>Helping our stylists leverage our very effective styling algorithm to put together incredible, unique
              fixes for
              all our clients
            </li>
            <li>Our stylists need to see the best possible matches between each client and all our clothes, and they
              need to
              use that information with their own knowledge to create a unique fix for each of our customers
            </li>
            <li>We need to give our stylists and their managers insight into their performance and success rates</li>
          </ul>
        </div>
        <div class="g _1-1-sm _1-2 m1">
          <header>
            <h5 class="h5 uppercase">Operations and Warehouse</h5>
          </header>
          <ul>
            <li>We receive lots of deliveries from vendors every day and need to get them into our physical and digital
              inventory as quickly as possible
            </li>
            <li>We need to pick, pack and ship lots of Fixes every day, and they all need to be of the highest quality
            </li>
            <li>We get lots of returns from clients every day (it’s part of the business model) and we have to check the
              merchandise and get it back into inventory as quickly as possible
            </li>
          </ul>
        </div>
        <div class="g _1-1-sm _1-2 m1">
          <header>
            <h5 class="h5 uppercase">Merchandising</h5>
          </header>
          <ul>
            <li>We have to order lots of new inventory every day and synchronize those orders with the warehouse</li>
            <li>We have to plan every upcoming week, month, season and year to ensure we have the right amount and best
              mix
              of
              clothes
            </li>
            <li>We have to leverage all of our sales and client data to make the best possible buying decisions</li>
          </ul>
        </div>
        <div class="g _1-1-sm _1-2 m1">
          <header>
            <h5 class="h5 uppercase">Customer Service</h5>
          </header>
          <ul>
            <li>We encourage our customers to give us feedback about all aspects of our service through whichever
              channels
              they want, and we need to keep track of all of that
            </li>
            <li>We want our service to be as convenient as possible and sometimes that means lending a helping hand with
              shipments, payments or using our website
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <hr>
  </div>
  <div class="container contain-to-md">
    <section class="m4">
      <header>
        <h4 class="h4 thin light">More about Stitch Fix Engineering</h4>
      </header>
      <p>
        We use technologies like PostgreSQL, Redis, ElasticSearch and RabbitMQ along with various private Gems to tie
        them all together. We work from San Francisco, Pittsburgh and remotely, and we use Heroku, GitHub, Google
        Hangouts
        and HipChat to help us build it all.
      </p>

      <p>
        We are looking for people who share our values. We like to move quickly and ship lots of code, but in a
        considered way. We use TDD, CI and an all-hands-on-deck approach to Pull Requests to ensure we can keep the
        pace
        up without stinging on quality.
      </p>

      <p>
        If any of us have a good idea for introducing a new technology or pattern then we go ahead and run an
        experiment. The debates don’t start until we have some real evidence to look at and since we avoid dogma and
        evangelism they tend to be short.
      </p>

      <p>
        We work closely with our internal partners and we assume that they know best about
        what they need to do their jobs. Our job is to solve business problems and some of our proudest moments come
        from solving those problems without a line of code.
      </p>
    </section>
  </div>
  <footer>
    <div class="skin-lightest-gray py2">
      <div class="container contain-to-md">
        <article class="m0">
          <header>
            <h4 class="h4 thin light">Tools</h4>
          </header>
          <div class="grid">
            <div class="g _1-1-sm _1-2">
              <dl>
                <dt>Ruby</dt>
                <dd>with Rails as web application glue</dd>
                <dt>RabbitMQ</dt>
                <dd>apps communicate by broadcasting their real-world events</dd>
                <dt>Postgres</dt>
                <dd>powerful and redundant data layer</dd>
              </dl>
            </div>
            <div class="g _1-1-sm _1-2">
              <dl>
                <dt>CI</dt>
                <dd>continuous testing and auto-deployment</dd>
                <dt>Responsive Design</dt>
                <dd>we love all screens equally</dd>
                <dt>AngularJS</dt>
                <dd>because sometimes you just want to be fancy ;)</dd>
              </dl>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="skin-mint py2">
      <div class="container contain-to-md">
        {% include _engineering_jobs.html %}
      </div>
    </div>
  </footer>
</article>