<article class="m0" id="engineering-jobs">
  <header>
    <h4 class="h4 thin">Engineering Jobs at Stitch Fix</h4>
  </header>
  <dl>
    <dt><a href="/jobs/head-user-experience.html">Head of User Experience</a></dt>
    <dd>Lead Product Design across all technology products, client and staff facing.</dd>
    <dt><a href="/jobs/lead-ios.html">Lead iOS Engineer</a></dt>
    <dd>Build Stitch Fix's mobile pressence from the ground up.</dd>
    <dt><a href="/jobs/ios-engineer.html">iOS Engineer</a></dt>
    <dd>Be a foundational member of Stitch Fix's mobile team</dd>
    <dt><a href="/jobs/lead-full-stack-rails.html">Full Stack Rails Engineer</a></dt>
    <dd>Experience in Ruby, Rails, front-end development, and Product design.</dd>
  </dl>
</article>
