<nav class="top-nav nav-trans">
  <div class='container flex hidden-gtsm'>
    <ul class='list-inline m0 clearfix'>
      <li class="left" style="max-width: 180px;">
        <a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#intro" class='btn btn-sm btn-link btn-link-dark light m0 pxhalf text-r-xs round-none'>
          <img src="/assets/images/stitchfix-technology.svg" alt="Stitch Fix Engineering and Data Science">
        </a>
      </li>
      <li class='m0 right'>
        <a class='btn btn-sm btn-link btn-link-dark light m0 px2 text-r-xs round-none' data-target='#nav_mobile' data-toggle='dropdown' href='#'>
          <span class='ss-icon'>List</span>
        </a>
      </li>
    </ul>
  </div>
  <div class='container flex hidden-gtsm dropdown' id='nav_mobile'>
    <ul class='list-inline list-nav m0 nav nav-tabs' role="tablist">
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#intro" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Home</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#engineering" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Engineering</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#data-science" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Data Science</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#culture" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Culture</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#team" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Team</a></li>
      <li{% if page.url == '/open_source/index.html' %} class="active"{% else %}{% endif %}><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}open_source/index.html" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Open Source</a></li>
      <li{% if page.layout == 'posts' %} class="active"{% elsif page.url == '/blog/index.html' %} class="active"{% else %}{% endif %}><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}blog/index.html" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Blog</a></li>
      <li{% if page.layout == 'jobs' %} class="active"{% elsif page.url == '/jobs/index.html' %} class="active"{% else %}{% endif %}><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}jobs/index.html" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Jobs</a></li>
    </ul>
  </div>
  <div class="container flex hidden-ltsm js-scrolling-nav js-srollspy">
    <ul class='list-inline list-nav m0 nav nav-tabs' role="tablist">
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#intro" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Home</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#engineering" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Engineering</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#data-science" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Data Science</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#culture" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Culture</a></li>
      <li><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}#team" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Team</a></li>
      <li{% if page.url == '/open_source/index.html' %} class="active"{% else %}{% endif %}><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}open_source/index.html" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Open Source</a></li>
      <li{% if page.layout == 'posts' %} class="active"{% elsif page.url == '/blog/index.html' %} class="active"{% else %}{% endif %}><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}blog/index.html" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Blog</a></li>
      <li{% if page.layout == 'jobs' %} class="active"{% elsif page.url == '/jobs/index.html' %} class="active"{% else %}{% endif %}><a href="{% if page.url != '/index.html' %}/{% else %}{% endif %}jobs/index.html" class="btn btn-sm btn-link round-none m0 px2 text-l-xs">Jobs</a></li>
    </ul>
  </div>
</nav>
