<header class="main bg-lightest bb-gray" role="main">
  <div class="column-wrapper">
    <h1 class="h3 m-0 lh-2 dib">
      <a href="/" class="link opacity-hover">
        <span class="default">Stitch Fix </span>
        <span class="no-highlight green">Engineering &amp; Analytics</span>
      </a>
    </h1>
    <div class="header-nav nav dib ml-4">
      <nav role="navigation" class="single-column pb-1">
        <ul>
          <li class="dib">
            <a href="/blog" class="link">Blog</a>
          </li>
          <li class="dib">
            <a href="/jobs" class="link">Open Positions</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


