<ul class="large-list ct mt-1 mb-4 no-gutter">
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/full-stack-rails.html" title="Full-Stack Rails Engineer" class="wht link caps b f3 trans-pl">
      Full-Stack Rails Engineer <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-science-engineer.html" title="Data Science Engineer" class="wht link caps b f3 trans-pl">
      Data Science Engineer <span>»</span>
    </a>
  </li>

  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-scientist-algorithm.html" title="Data Scientist" class="wht link caps b f3 trans-pl">
      Data Scientist <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/algorithm-developer.html" title="Algorithm Developer" class="wht link caps b f3 trans-pl">
      Algorithm Developer <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-scientist-intern.html" title="Data Scientist Intern" class="wht link caps b f3 trans-pl">
      Data Scientist Intern <span>»</span>
    </a>
  </li>
 </ul>
