<ul class="large-list ct mt-1 mb-4 no-gutter">
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/senior-full-stack-rails.html" title="Senior Full-Stack Rails Engineer" class="wht link caps b f3 trans-pl">
      Senior Full-Stack Rails Engineer <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-science-engineer.html" title="Data Science Engineer" class="wht link caps b f3 trans-pl">
      Data Science Engineer <span>»</span>
    </a>
  </li>

  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-science-engineering-intern.html" title="Data Science Engineering Intern" class="wht link caps b f3 trans-pl">
      Data Science Engineering Intern <span>»</span>
    </a>
  </li>

  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-scientist-algorithm.html" title="Data Scientist" class="wht link caps b f3 trans-pl">
      Data Scientist <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/algorithm-developer.html" title="Algorithm Developer" class="wht link caps b f3 trans-pl">
      Algorithm Developer <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/algorithm-developer-intern.html" title="Algorithm Developer Intern" class="wht link caps b f3 trans-pl">
      Algorithm Developer Intern <span>»</span>
    </a>
  </li>
 </ul>
