<ul class="large-list ct mt-1 mb-4">
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/full-stack-rails" title="Full-Stack Rails Engineer" class="wht link caps b f3 trans-pl">
      Full-Stack Rails Engineer <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/senior-product-manager" title="Senior Product Manager" class="wht link caps b f3 trans-pl">
      Senior Product Manager <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-scientist-algorithm" title="Data Scientist" class="wht link caps b f3 trans-pl">
      Data Scientist <span>»</span>
    </a>
  </li>
  <li class="large-list-i bg-ligreen trans-bg">
    <a href="/jobs/data-scientist-intern" title="Data Scientist Intern" class="wht link caps b f3 trans-pl">
      Data Scientist Intern <span>»</span>
    </a>
  </li>
 </ul>