<section class="perks" id="perks">
  <div class="bin">
    <div class="">
      <h1>Perks</h1>
      <ul class="list">
        <li>
          <span class="ss-icon">&#xF124;</span>
          Fully stocked pantry with your choice of snacks and drinks (of course).</li>
        <li>
          <span class="ss-icon">&#x1F374;</span>
          Catered lunch...every day.</li>
        <li>
          <span class="ss-icon">&#x1F4B0;</span>
          Competitive salaries and generous equity.
        <li>
          <span class="ss-icon">&#x1F4BB;</span>
          Work on/with your preference of tools/hardware.
        </li>
        <li>
          <span class="ss-icon">&#xF4B1;</span>
          Comprehensive health plan, including full dental and vision coverage.</li>
        <li>
          <span class="ss-icon">&#x1F46B;</span>
          Work with awesome people.
        </li>
      </ul>
    </div>
  </div>
</section>
