<div class="skin-lightest-gray p2">
  <div class="container contain-to-md">
    <article class="m2">
      <header>
        <h4 class="h4">Perks</h4>
      </header>
      <ul>
        <li>Competitive salaries and generous equity.</li>
        <li>A business that trusts and embraces tech.</li>
        <li>A senior team that does it right and is open to new ideas.</li>
        <li>A startup with a proven business model that’s growing fast.</li>
        <li>Use your preference of tools and hardware.</li>
        <li>A comprehensive health insurance plan, including full dental and vision coverage.</li>
        <li>Fully stocked pantry with your choice of snacks and drinks</li>
        <li>Sunny offices in downtown San Francisco and downtown Pittsburgh.</li>
        <li>Full support for remote work—you get to visit our SF office
          every couple months to connect with your peers and partners.
        </li>
      </ul>
    </article>
  </div>
</div>
