<section id="perks">
  <div class="bg-yellow section-padding">
  <div class="column-wrapper">
    <h1 class="h2">Perks</h1>
    <ul class="list-prose no-bullets">
      <li class="list-prose--i mobile-list-border">
        <span class="ss-icon">&#xF124;</span>
        <span class="text">Fully stocked pantry with your choice of snacks and drinks (of course).</span>
      </li>
      <li class="list-prose--i mobile-list-border">
        <span class="ss-icon">&#x1F4B0;</span>
        <span class="text">Competitive salaries and generous equity.</span>
      </li>
      <li class="list-prose--i mobile-list-border">
        <span class="ss-icon">&#x1F4BB;</span>
        <span class="text">Work on/with your preference of tools/hardware.</span>
      </li>
      <li class="list-prose--i mobile-list-border">
        <span class="ss-icon">&#xF4B1;</span>
        <span class="text">Comprehensive health plan, including full dental and vision coverage.</span>
      </li>
      <li class="list-prose--i mobile-list-border">
        <span class="ss-icon">&#x1F46B;</span>
        <span class="text">Work with awesome people.</span>
      </li>
    </ul>
  </div>
</div>
</section>
