<section>
  <div class="layout-width">
    <h1 class="mega lh-1 title">We Are Hiring</h1>
     <p class="large-intro  alpha">
        Stitch Fix is an early stage startup building a disruptive, data-driven, retail platform.
        We have gobs of paying customers and things are growing fast. 
        We're currently a small, senior dev &amp; analytics team based in SF - but we'd like to add some more talented folks.
      </p>
      <p>
        If you want to come build awesome products and solve interesting problems with a kick-ass group of people check out 
        <a href="#culture" title="Stitch Fix Culture" class="green link">our culture,</a> 
        <a href="#team" title="The Stitch Fix Team" class="green link">our team,</a> 
        <a href="#perks" class="green link" title="The Stitch Fix Perks">the perks,</a> 
        and apply for one of our
        <a href="#apply" class="green link" title="Apply for open positions">open positions.</a><br /><br />
      </p>
  </div>
</section>
