<section>
  <div class="column-wrapper section-padding">
    <div class="mobile-padding-top">
    <h1 class="mega lh-1 my-heading-clear">We Are Hiring</h1>
      <p class="large-intro alpha">
        Stitch Fix is building a disruptive and data-driven retail platform.
        Our team is small and senior, with locations in <a href="#sf" class="green link green-hover">San Francisco</a>, <a href="#pgh" class="green link green-hover">Pittsburgh</a>, and Washington, DC.
        We're looking for more excited and talented individuals to join us in the office or remotely.
      </p>
      <p class="site-nav">
        If you want to come build awesome products and solve interesting problems with a great group of people check out 
        <a href="#culture" title="Stitch Fix Culture" class="green link green-hover">our culture,</a> 
        <a href="#team" title="The Stitch Fix Team" class="green link green-hover">our team,</a> 
        <a href="#perks" class="green green-hover link" title="The Stitch Fix Perks green-hover">the perks,</a> 
        and apply for one of our
        <a href="#apply" class="green-hover green link" title="Apply for open positions">open positions.</a><br /><br />
      </p>
    </div>
  </div>
</section>
