<section>
  <div class="column-wrapper section-padding">
    <div class="mobile-padding-top">
    <h1 class="mega lh-1 my-heading-clear">We Are Hiring</h1>
     <p class="large-intro alpha">
        Stitch Fix is an early stage startup building a disruptive, data-driven, retail platform.
        We have gobs of paying customers and things are growing fast. 
        We're currently a small, senior dev &amp; analytics team based in SF - but we'd like to add some more talented folks.
      </p>
      <p class="site-nav">
        If you want to come build awesome products and solve interesting problems with a great group of people check out 
        <a href="#culture" title="Stitch Fix Culture" class="green link green-hover">our culture,</a> 
        <a href="#team" title="The Stitch Fix Team" class="green link green-hover">our team,</a> 
        <a href="#perks" class="green green-hover link" title="The Stitch Fix Perks green-hover">the perks,</a> 
        and apply for one of our
        <a href="#apply" class="green-hover green link" title="Apply for open positions">open positions.</a><br /><br />
      </p>
    </div>
  </div>
</section>
