<section id="stack" class="stack">
  <div class="bin">
    <article class="c12">
      <h2>Things we use</h2>
      <ul class="gridded-out"> 
        <li>Rails</li>
        <li>Ruby</li>
        <li>Git</li>
        <li>HTML5</li><!-- Tecnically we use XHTML 4.1 too, because, who doesn't send emails? -->
        <li>R</li>
        <li>Heroku</li>
        <li>Bash</li>
        <li>Unix</li>
        <li>Javascript</li>
        <li>CSS3</li><!--Earlier versions of css are not accepted. JK. That's obvi not how CSS works. -->
        <li>SASS</li>
        <li>Postgres</li>
        <li>Python</li><!--Not the language, the snake -->
        <li>AWS</li>
        <li>/dev/null</li><!-- This is where we pipe everything too. -->
      </ul>
    </article>
    <article class="c12">
      <h2>A sample of things we're working on</h2>
        <ul>
          <li>Designing / building responsive interfaces that are device and screen-size agnostic.</li>
          <li>Applying Machine Learning solutions to strengthen our recommendation algorithm.</li>
          <li>Increasing the current utilization rate of physical inventory.</li>
          <li>Building prediction models to accurately determine our inventory for future dates.</li>
        </ul>
    </article>
  </div>
</section>
