<section>
  <div class="bg-green">
  <div class="column-wrapper">
    <article class="section-padding">
      <h1 class="h2">Things we use</h1>
      <ul class="list horizontal-list"> 
        <li class="horizontal-list--i">Rails</li>
        <li class="horizontal-list--i">Ruby</li>
        <li class="horizontal-list--i">Python</li><!--Not the language, the snake. Well, the language too. -->
        <li class="horizontal-list--i">R</li>
        <li class="horizontal-list--i">Postgres</li>
        <li class="horizontal-list--i">HTML5</li><!-- Technically we use XHTML 4.1 too, because, who doesn't send emails? -->
        <li class="horizontal-list--i">CSS3</li>
        <li class="horizontal-list--i">JavaScript</li>
      </ul>
    </article>
  </div>
</div>
</section>
