<article id="team">
  <div class="container contain-to-md">
    <section>
      <header class="mt4">
        <h1 class="h1 thin text-c">Team</h1>
      </header>

      {% for team in site.data.teams %}
        <article>
          <header class="mt6 mb2">
            <h2 class="h2 thin light text-c">{{ team.teamname | capitalize }}</h2>
          </header>
          <section class="grid">
            {% for member in team.members %}
              <article class="member-info g _1-4 _1-2-sm _1-1-xs">
                <img src="/assets/images/team/{% if member.image %}{{ member.image }}{% else %}{{ member.name | downcase }}{% endif %}.jpg" alt="{{ member.name }} {{ member.lastname }}">
                <h3 class="h5 m0">
                  {{ member.name }}
                  <small class="thin uppercase">{{ member.location }}</small>
                </h3>
                <h4 class="h6 m0 thin">{{ member.division }}</h4>
                <section class="bio expandable">
                  <p>{{ member.description }}</p>
                  <p class="read-more"><a href="#" title="Click to expand">&nbsp;</a></p>
                </section>
                <ul class="social list-inline list-condensed m1">
                  {% if member.linkedin %}
                    {% if member.linkedin contains 'linkedin.' %}
                      <li>
                        <a href="{{ member.linkedin }}" class="ss-icon ss-social ss-linkedin"
                           title="{{ member.name }} {{ member.lastname }} on LinkedIn"></a>
                      </li>
                    {% else %}
                      <li>
                        <a href="http://www.linkedin.com/in/{{ member.linkedin }}" class="ss-icon ss-social ss-linkedin"
                         title="{{ member.name }} {{ member.lastname }} on LinkedIn"></a>
                      </li>
                    {% endif %}
                  {% endif %}
                  {% if member.github %}
                    <li>
                      <a href="https://github.com/{{ member.github }}" class="ss-icon ss-social ss-octocat"
                         title="{{ member.name }} {{ member.lastname }} on GitHub"></a>
                    </li>
                  {% endif %}
                  {% if member.twitter %}
                    <li>
                      <a href="http://twitter.com/{{ member.twitter }}" class="ss-icon ss-social ss-twitter"
                         title="{{ member.name }} {{ member.lastname }} on Twitter"></a>
                    </li>
                  {% endif %}
                  {% if member.instagram %}
                    <a href="http://instagram.com/{{ member.instagram }}" class="ss-icon ss-social ss-instagram"
                       title="{{ member.name }} {{ member.lastname }} on Instagram"></a>
                  {% endif %}
                  {% if member.flickr %}
                    <li>
                      <a href="http://www.flickr.com/photos/{{ member.flickr }}" class="ss-icon ss-social ss-flickr"
                         title="{{ member.name }} {{ member.lastname }} on Flickr"></a>
                    </li>
                  {% endif %}
                  {% if member.links %}
                    {% for link in member.links %}
                      <li>
                        <a href="{{ link.url }}" class="ss-icon ss-standard ss-link"
                           title="{{ member.name }} {{ member.lastname }}'s {{ link.type }}"></a>
                      </li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </article>
            {% endfor %}
          </section>
        </article>
      {% endfor %}
    </section>
  </div>
</article>
