<section>
  <div class="bg-yellow">
  <div class="column-wrapper">
    <article class="section-padding">
      <h1 class="h2">Things we work on</h1>
      <ul class="list-prose lh-2 ">
        <li class="list-prose--i">Advanced learning algorithms to aid our awesome styling team</li>
        <li class="list-prose--i">Multiple-application architecture run in the cloud (no monoliths here!)</li>
        <li class="list-prose--i">Custom warehouse and inventory systems for a very unique business model</li>
        <li class="list-prose--i">Responsive web interfaces to drive both the customer experience and our internal tools</li>
        <li class="list-prose--i">Building prediction models for a smart and successful future</li>
      </ul>
    </article>
  </div>
</div>
</section>
