<section>
  <div class="bg-yellow">
  <div class="column-wrapper">
    <article class="section-padding">
      <h1 class="h2">Things we work on</h1>
      <ul class="list-prose lh-2 ">
        <li class="list-prose--i">Designing / building responsive interfaces.</li>
        <li class="list-prose--i">Applying machine learning solutions to strengthen our algorithms.</li>
        <li class="list-prose--i">Increasing the current utilization of our physical inventory.</li>
        <li class="list-prose--i">Building prediction models to determine future inventory needs.</li>
      </ul>
    </article>
  </div>
</div>
</section>
