<div class="w-section footer">
  <a class="w-inline-block" href="http://stitchfix.com/jobs">
    <p class="sectionbutton">View all Stitch Fix Careers</p>
  </a>
  <div class="w-row footercolumns">
    <div class="w-col w-col-3 footercolumn">
      <div class="footerheadermobile">
        <span class="footerheader">Have a question?<br></span>
        FAQ or hello@stitchfix.com<br>
        <span class="footerheader">—<br>Follow Us!</span>
      </div>
      <a href="#" class="socialicon mobileshow">
        <img src="/assets/images/svgs/socialface.svg" width="34" height="34">
      </a>
      <a href="#" class="socialicon mobileshow">
        <img src="/assets/images/svgs/socialinsta.svg" width="34" height="34">
      </a>
      <a href="#" class="socialicon mobileshow">
        <img src="/assets/images/svgs/socialpin.svg" width="34" height="34">
      </a>
      <a href="#" class="socialicon mobileshow">
        <img src="/assets/images/svgs/socialtwit.svg" width="34" height="34">
      </a>

      <a href="http://stitchfix.com">
        <img class="footerlogo" src="/assets/images/svgs/StitchFix%20Tagline%20leftalign%20SVG.svg">
      </a>

      <a href="#" class="footerlink copyright">
        Stitch Fix and Fix are<br>trademarks of Stitch Fix, Inc.
      </a>
    </div>
    <div class="w-col w-col-2 footercolumn">
      <a href="#" class="footerlink">About</a>
      <a href="#" class="footerlink">FAQ</a>
      <a href="#" class="footerlink">Blog</a>
      <a href="#" class="footerlink">Gift Card</a>
      <a href="#" class="footerlink">Reviews</a>
    </div>
    <div class="w-col w-col-2 footercolumn">
      <a href="#" class="footerlink">Press</a>
      <a href="#" class="footerlink">Affiliate Program</a>
      <a href="#" class="footerlink">Careers at Stitch Fix</a>
      <a href="#" class="footerlink">Tech Blog</a>
      <a href="#" class="footerlink">Privacy Policy</a>
      <a href="#" class="footerlink">Terms of Use</a>
    </div>
    <div class="w-col w-col-2 footercolumn">
      <a href="#" class="footerlink footerheadline">Have a question?</a>
      <a href="#" class="footerlink mobilehide">Check our FAQ</a>
      <a href="#" class="footerlink mobilehide">hello@stitchfix.com</a>
    </div>
    <div class="w-col w-col-3 footercolumn">
      <a href="#" class="footerlink mobilecopyright">
        Stitch Fix and Fix are trademarks of Stitch Fix, Inc.
      </a>
      <img class="footerlogomobile" src="/assets/images/svgs/sf_logomark.svg">
      <a href="#" class="footerlink footerheadline">Follow Us!</a>
      <a href="#" class="footerlink socialicon mobilehide">
        <img src="/assets/images/svgs/socialface.svg" width="40" height="40">
      </a>
      <a href="#" class="footerlink socialicon mobilehide">
        <img src="/assets/images/svgs/socialinsta.svg" width="40" height="40">
      </a>
      <a href="#" class="footerlink socialicon mobilehide">
        <img src="/assets/images/svgs/socialpin.svg" width="40" height="40">
      </a>
      <a href="#" class="footerlink socialicon mobilehide">
        <img src="/assets/images/svgs/socialtwit.svg" width="40" height="40">
      </a>
    </div>
  </div>
</div>

{% include ga.html %}