/*
Syntax error: Undefined variable: "$light-gray".
        on line 5 of _assets/stylesheets/elements/_code.css.scss
        from line 3 of _assets/stylesheets/elements/elements.css.scss

1: @import "images.css.scss";
2: @import "lists.css.scss";
3: @import "code.css.scss";

Backtrace:
_assets/stylesheets/elements/_code.css.scss:5
_assets/stylesheets/elements/elements.css.scss:3
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/script/tree/node.rb:50:in `perform'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/script/tree/list_literal.rb:62:in `map'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/script/tree/list_literal.rb:62:in `_perform'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/script/tree/node.rb:50:in `perform'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:88:in `block in with_import'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:88:in `with_import'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:221:in `watch'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/plugin.rb:108:in `method_missing'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/exec.rb:509:in `watch_or_update'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/exec.rb:346:in `process_result'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/exec.rb:43:in `parse'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/lib/sass/exec.rb:22:in `parse!'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/gems/sass-3.3.8/bin/sass:13:in `<top (required)>'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/bin/sass:23:in `load'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/bin/sass:23:in `<main>'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/bin/ruby_executable_hooks:15:in `eval'
/Users/davec/.rvm/gems/ruby-2.1.0@doom/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$light-gray\".\A         on line 5 of _assets/stylesheets/elements/_code.css.scss\A         from line 3 of _assets/stylesheets/elements/elements.css.scss\A \A 1: @import \"images.css.scss\";\A 2: @import \"lists.css.scss\";\A 3: @import \"code.css.scss\";"; }
