.highlighttable, pre code, .code {
  $code-border-radius: 6px;
  border-top-right-radius: $code-border-radius;
  border-bottom-right-radius: $code-border-radius;
  border: 1px solid $grey-light;
  border-left-width: 4px;
  background-color: $grey-subtle;
}
code, .code {
  display: inline;
  font-family: 
    Consolas, 
    "Andale Mono WT", 
    "Andale Mono", 
    "Lucida Console", 
    "Lucida Sans Typewriter", 
    "DejaVu Sans Mono", 
    "Bitstream Vera Sans Mono", 
    "Liberation Mono", 
    "Nimbus Mono L", 
    Monaco, 
    "Courier New", 
    Courier, 
    monospace;
  font-size: 14px;
  padding: 0.2em;
}
pre code {
  display: block;
  line-height: 1.4;
  letter-spacing: 0.1em;
  margin: 1em 0;
  overflow-x: auto;
  padding: 1em;
  @include breakpoint(one-hand) {
    padding:1em 0.2em;
  }
}
.lineno{
  color: $grey-light;
}
.highlighttable{
  code, .code{
    border: none;
    border-radius: none;
    background-color: transparent;
  }
  .linenos {
    background-color: $grey-medium;
    .lineno {
      color: white;
    }
  }
}
