
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-decoration: none;
}

.logo-tagline {
  font-size: 16px;
  color: #847B78;
  vertical-align: middle;
  top: 3px;
  position: relative;
  margin-left: 6px;
}

.tab {
  float: left;
}

.tabmenu {
  position: fixed;
  top: 60px;
}

.w--current .tabarrow {
  opacity: 1;
}

.blogsection {
  padding-top: 0;
}

.bloghero {
  min-height: 500px;
  height: 500px;
  margin-top: 98px;
  background: url(http://uploads.webflow.com/55411cb6ae02724a6ecbff7b/55009bd6e12fc57729b7f9ba_IMG_0113.jpg) scroll 0 0 no-repeat transparent;
  background-size: cover;
}

.blogpost {
  a {
    color: #ff5c60;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .blogtitle {
    color: #847b78;
  }

  .blogcolumn {
    min-height: 300px;
    p {
      @extend .blogparagraph;
    }
  }

  .comments {
    width: 100%;
  }

  .socialicon {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
  }
}

.authorheadshot {
  border-radius: 50%;
}

.footerlink {
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: underline;
  }
  &.socialicon {
    display: inline-block;
  }
  @media (max-width: 767px) {
    &.mobilehide {
      display: none;
    }
  }
}

.sectioncontent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: brandontext, sans-serif;
  color: #847b78;
  font-size: 18px;
  line-height: 1.7em;
  ul, ol {
    list-style-position: inside;
  }
}

.teambio {
  position: relative;
  display: block;
  opacity: 1;
}

.teammember {
  height: 380px;
  a {
    color: #ff5c60;
    text-decoration: none;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
  .teamsocialicon {
    height: 25px;
  }

  .flipper {
    height: 300px;
  }

  .team-headshot {
    width: 290px;
    height: 290px;
  }
}

.nav-filter {
  position: relative;
  display: block;
  float: left;
  height: 40px;
  margin: 20px 10px;
  min-width: 266px;

  padding: 0 15px;

  border: 1px solid rgba(132, 123, 120, 0.49);

  color: #837C77;

  .expand-block {
    display: block;
    background: transparent;
    position: absolute;
    left: 15px;
    overflow: visible;
    transition-duration: .3s;
    min-width: 100%;
    z-index: 10;
  }
}

.expand-label {
  cursor: pointer;
  transition: transform 0.6s linear 0.1s;
}

.expand-block {
  transition: all 0.6s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
  overflow: hidden;
  max-height: 0;
}

.expand-input {
  display: none;

  &:checked ~ .expand-block {
    transform: scaleY(1);
    max-height: 100%;
  }

  &:checked ~ .expand-rotate {
    transform: rotate(45deg);
  }

  &:checked + .expand-label .dropdownicon {
    transform: rotate(180deg) translate(0, 50%);
  }
}

.filtertitle {
  float: left;
  line-height: 80px;
  margin-right: 10px;
}

.dropdownitem {
  padding: 10px 15px;
}
