
.expand-label {
  cursor: pointer;
  transition: transform 0.6s linear 0.1s;
}

.expand-block {
  transition: all 0.6s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
  overflow: hidden;
  max-height: 0;
}

.expand-input {
  display: none;

  &:checked ~ .expand-block {
    transform: scaleY(1);
    max-height: 100%;
  }

  &:checked ~ .expand-rotate {
    transform: rotate(45deg);
  }

}
