/* ==========================================================================
   Grid
   ========================================================================== */

/**
 * Core grid component
 * Make use of dimension utilities, or components that extend 'grid' in order
 * to apply particular widths to cells.
 *
 * Example uses:
 *
 * <div class="Grid">
 *     <div class="Grid-cell u-size1of2"></div>
 *     <div class="Grid-cell u-size1of2"></div>
 *     <div class="Grid-cell u-size1of3"></div>
 *     <div class="Grid-cell u-size1of3"></div>
 * </div>
 *
 * <div class="Grid Grid--center">
 *     <div class="Grid-cell u-size1of3"></div>
 *     <div class="Grid-cell u-size1of3"></div>
 * </div>
 */

/* Grid container
   ========================================================================== */

/**
 * Must only contain `Grid` or `Grid-cell` components as children.
 *
 * 1. Ensure consistent default alignment.
 * 2. Remove inter-unit whitespace that appears between `inline-block` child
 *    elements. Work for all non-monospace font-families.  If you're using a
 *    monospace base font, you will need to set the `Grid` font-family to
 *   `sans-serif` and then redeclare the monospace font on the `Grid-cell`
 *    objects.
 * 3. Protect against WebKit bug with optimizelegibility.
 */

.Grid {
    display: block;
    padding: 0;
    margin: 0;
    text-align: left; /* 1 */
    letter-spacing: -0.31em; /* 2 */
    text-rendering: optimizespeed; /* 3 */
}

/* Opera hack */

.opera:-o-prefocus,
.Grid {
    word-spacing: -0.43em; /* 2 */
}

/**
 * Modifier: horizontally center all grid units
 * Allows for automatic unit centering irrespective of the number of
 * units in the grid.
 */

.Grid--center {
    text-align: center;
}

/* Grid cell
   ========================================================================== */

/**
 * No explicit width by default. Rely on combining `Grid-cell` with a dimension
 * utility or component that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout mechanism.
 * 2. Controls vertical positioning of units.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Reset text defaults.
 */

.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: inline-block; /* 1 */
    margin: 0;
    padding: 0;
    vertical-align: top; /* 2 */
    text-align: left; /* 3 */
    letter-spacing: normal; /* 4 */
    word-spacing: normal; /* 4 */
    text-rendering: auto; /* 4 */
}

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `Grid` object.
 */

.Grid-cell--center {
    display: block;
    margin: 0 auto;
}

/* ==========================================================================
   Grid Layouts
   ========================================================================== */

/* ==========================================================================
   SUIT grid layouts
   ========================================================================== */

/**
 * Modifiers for the core 'suit-grid' component. These traits are pre-build
 * grids that provide different layouts at different breakpoints (supports 2
 * breakpoints).
 *
 * Example uses:
 *
 * <div class="Grid v2-Grid--2col v3-Grid--4col">
 *     <div class="Grid-cell Grid-cell--1"></div>
 *     <div class="Grid-cell Grid-cell--2"></div>
 *     <div class="Grid-cell Grid-cell--3"></div>
 *     <div class="Grid-cell Grid-cell--4"></div>
 * </div>
 *
 * <div class="Grid v2-Grid--fitToFill">
 *     <div class="Grid-cell Grid-cell--1"></div>
 *     <div class="Grid-cell Grid-cell--2"></div>
 * </div>
 */

/* Grid version 1 (default)
   ========================================================================== */

.v1-Grid--2col > .Grid-cell {
    width: 50%;
}

.v1-Grid--3col > .Grid-cell {
    width: 33.333%;
}   

/* Grid version 2 (at first breakpoint)
========================================================================== */

.v2-Grid--1col > .Grid-cell,
.v2-Grid--3on1 > .Grid-cell--4 {
    width: 100%;
}

.v2-Grid--1to3 > .Grid-cell--2,
.v2-Grid--3to1 > .Grid-cell--1 {
    width: 75%;
}

.v2-Grid--1to2 > .Grid-cell--2,
.v2-Grid--2to1 > .Grid-cell--1 {
    width: 66.666%;
}

.v2-Grid--2col > .Grid-cell {
    width: 50%;
}

.v2-Grid--1to2 > .Grid-cell--1,
.v2-Grid--2to1 > .Grid-cell--2,
.v2-Grid--3col > .Grid-cell,
.v2-Grid--3on1 > .Grid-cell--1,
.v2-Grid--3on1 > .Grid-cell--2,
.v2-Grid--3on1 > .Grid-cell--3 {
    width: 33.333%;
}

.v2-Grid--1to3 > .Grid-cell--1,
.v2-Grid--3to1 > .Grid-cell--2,
.v2-Grid--4col > .Grid-cell {
    width: 25%;
}

/**
 * Fit and Fill
 */

.v2-Grid--fitToFill > .Grid-cell--1 {
    display: block;
    float: left;
    width: auto;
}

.v2-Grid--fitToFill > .Grid-cell--2 {
    display: block;
    overflow: hidden;
    width: auto;
}

/* Contain floats */

.v2-Grid--fitToFill:after {
    display: table;
    content: " ";
    clear: both;
}

/* Grid version 3 (at second breakpoint)
========================================================================== */

.v3-Grid--1col > .Grid-cell {
    width: 100%;
}

.v3-Grid--1to2 > .Grid-cell--2,
.v3-Grid--2to1 > .Grid-cell--1 {
    width: 66.666%;
}

.v3-Grid--2to3 > .Grid-cell--2,
.v3-Grid--3to2 > .Grid-cell--1 {
    width: 60%;
}

.v3-Grid--2col > .Grid-cell {
    width: 50%;
}

.v3-Grid--2to3 > .Grid-cell--1,
.v3-Grid--3to2 > .Grid-cell--2 {
    width: 40%;
}

.v3-Grid--1to2 > .Grid-cell--1,
.v3-Grid--2to1 > .Grid-cell--2,
.v3-Grid--3col > .Grid-cell {
    width: 33.333%;
}

.v3-Grid--4col > .Grid-cell {
    width: 25%;
}
