/* ==========================================================================
   grid
   ========================================================================== */

/**
 * Core grid component
 * Make use of dimension utilities, or components that extend 'grid' in order
 * to apply particular widths to cells.
 *
 * Example uses:
 *
 * <div class="grid">
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of3"></div>
 *     <div class="grid-cell u-size1of3"></div>
 * </div>
 *
 * <div class="grid grid--center">
 *     <div class="grid-cell u-size1of3"></div>
 *     <div class="grid-cell u-size1of3"></div>
 * </div>
 */

/* grid container
   ========================================================================== */

/**
 * Must only contain `grid` or `grid-cell` components as children.
 *
 * 1. Ensure consistent default alignment.
 * 2. Remove inter-unit whitespace that appears between `inline-block` child
 *    elements. Work for all non-monospace font-families.  If you're using a
 *    monospace base font, you will need to set the `grid` font-family to
 *   `sans-serif` and then redeclare the monospace font on the `grid-cell`
 *    objects.
 * 3. Protect against WebKit bug with optimizelegibility.
 */

.grid {
    display: block;
    padding: 0;
    margin: 0;
    text-align: left; /* 1 */
    letter-spacing: -0.31em; /* 2 */
    text-rendering: optimizespeed; /* 3 */
}

/* Opera hack */

.opera:-o-prefocus,
.grid {
    word-spacing: -0.43em; /* 2 */
}

/**
 * Modifier: horizontally center all grid units
 * Allows for automatic unit centering irrespective of the number of
 * units in the grid.
 */

.grid--center {
    text-align: center;
}

/* grid cell
   ========================================================================== */

/**
 * No explicit width by default. Rely on combining `grid-cell` with a dimension
 * utility or component that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout mechanism.
 * 2. Controls vertical positioning of units.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Reset text defaults.
 */

.grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: inline-block; /* 1 */
    margin: 0;
    padding: 0;
    vertical-align: top; /* 2 */
    text-align: left; /* 3 */
    letter-spacing: normal; /* 4 */
    word-spacing: normal; /* 4 */
    text-rendering: auto; /* 4 */
}

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `grid` object.
 */

.grid-cell--center {
    display: block;
    margin: 0 auto;
}

/* ==========================================================================
   grid Layouts
   ========================================================================== */

/* ==========================================================================
   SUIT grid layouts
   ========================================================================== */

/**
 * Modifiers for the core 'suit-grid' component. These traits are pre-build
 * grids that provide different layouts at different breakpoints (supports 2
 * breakpoints).
 *
 * Example uses:
 *
 * <div class="grid v2-grid--2col v3-grid--4col">
 *     <div class="grid-cell grid-cell--1"></div>
 *     <div class="grid-cell grid-cell--2"></div>
 *     <div class="grid-cell grid-cell--3"></div>
 *     <div class="grid-cell grid-cell--4"></div>
 * </div>
 *
 * <div class="grid v2-grid--fitToFill">
 *     <div class="grid-cell grid-cell--1"></div>
 *     <div class="grid-cell grid-cell--2"></div>
 * </div>
 */

/* grid version 1 (default)
   ========================================================================== */

.v1-grid--2col > .grid-cell {
    width: 50%;
}

.v1-grid--3col > .grid-cell {
    width: 33.333%;
}   

/* grid version 2 (at first breakpoint)
========================================================================== */
@include breakpoint(tablet) {
.v2-grid--1col > .grid-cell,
.v2-grid--3on1 > .grid-cell--4 {
    width: 100%;
}

.v2-grid--1to3 > .grid-cell--2,
.v2-grid--3to1 > .grid-cell--1 {
    width: 75%;
}

.v2-grid--1to2 > .grid-cell--2,
.v2-grid--2to1 > .grid-cell--1 {
    width: 66.666%;
}

.v2-grid--2col > .grid-cell {
    width: 50%;
}

.v2-grid--1to2 > .grid-cell--1,
.v2-grid--2to1 > .grid-cell--2,
.v2-grid--3col > .grid-cell,
.v2-grid--3on1 > .grid-cell--1,
.v2-grid--3on1 > .grid-cell--2,
.v2-grid--3on1 > .grid-cell--3 {
    width: 33.333%;
}

.v2-grid--1to3 > .grid-cell--1,
.v2-grid--3to1 > .grid-cell--2,
.v2-grid--4col > .grid-cell {
    width: 25%;
}

/**
 * Fit and Fill
 */

.v2-grid--fitToFill > .grid-cell--1 {
    display: block;
    float: left;
    width: auto;
}

.v2-grid--fitToFill > .grid-cell--2 {
    display: block;
    overflow: hidden;
    width: auto;
}

/* Contain floats */

.v2-grid--fitToFill:after {
    display: table;
    content: " ";
    clear: both;
}

} // End breakpoint
/* grid version 3 (at second breakpoint)
========================================================================== */

@include breakpoint(desktop) {
.v3-grid--1col > .grid-cell {
    width: 100%;
}

.v3-grid--1to2 > .grid-cell--2,
.v3-grid--2to1 > .grid-cell--1 {
    width: 66.666%;
}

.v3-grid--2to3 > .grid-cell--2,
.v3-grid--3to2 > .grid-cell--1 {
    width: 60%;
}

.v3-grid--2col > .grid-cell {
    width: 50%;
}

.v3-grid--2to3 > .grid-cell--1,
.v3-grid--3to2 > .grid-cell--2 {
    width: 40%;
}

.v3-grid--1to2 > .grid-cell--1,
.v3-grid--2to1 > .grid-cell--2,
.v3-grid--3col > .grid-cell {
    width: 33.333%;
}

.v3-grid--4col > .grid-cell {
    width: 25%;
}
.v3-grid--5col > .grid-cell {
    width: 20%;
}
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


