/* ==========================================================================
   ICON STYLES
   ========================================================================== */

.ss-icon {
  font-size:32px;
  vertical-align:middle;
}

.ss-social {
  font-size:20px;
  color:$sf-dark-gray;
  margin-right:10px;
}

.ss-social:hover {
  color:darken($sf-green,20%)!important;
}

/**
 * Sets text in li to be label format an vertically aligned to middle
 */



.icon-wrapper {
  vertical-align:middle!important;
  font-size:14px;
  text-transform:uppercase;
}

