.link, .post .content a {
  color: $sf-dark-gray;
  font-weight: bold;
  &:hover {
    color: $sf-green;
  }
}

img, iframe {
  width: 100%;
}

iframe {
  border: 0;
  outline: 0;
  margin-bottom: -5px;
}

.dib {
  display: inline-block;
}

.footer-nav {
  padding: 20px 0;
}

.site-footer {
  font-size: 14px;
  font-weight: 100;
}

.alumni {
  display: none;
}

.technology-at {
  margin-left: -10px;
  letter-spacing: -3px;
  display: block;
  color: lighten(rgb(115, 188, 175), 10%);
  font-size: 48px;
  line-height: 55px;
  font-weight: 200;
  @media screen and (min-width: 400px) {
    font-weight: 400;
    font-size: 72px;
    line-height: 110px;
  }
  @media screen and (min-width: 600px) {
    font-size: 92px;
    line-height: 124px;
    font-weight: 600;
  }
}

.tighten {
  letter-spacing: -8px;
}

.stitch-fix-logo {
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
  color: transparent;
  display: block;
  margin: -10px 15px 0px -3px;
  background-position: left 3px;
  width: 130px;
  @media screen and (min-width: 400px) {
    margin: -35px 15px 0px 0px;
    width: 199px;
  }
  @media screen and (min-width: 600px) {
    margin: -30px 15px 0px -3px;
    width: 232px;
  }
}

