.link {
  color:$sf-dark-gray;
  font-weight:bold;
}

.link:hover {
  color:$sf-green;
}

img,iframe {width:100%;}
iframe {border:0;outline:0;margin-bottom:-5px;}
.dib {display:inline-block;}
.footer-nav {
  padding:20px 0;
}
.site-footer {
  font-size:14px;
  font-weight:100;
}
