.list {
  list-style:none;
}

.horizontal-list {
  width:100%;
  display:block;
  word-spacing: -0.43em;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.horizontal-list--i {
  width:33.3333%;
  display:inline-block;
  text-rendering: auto;
  word-spacing: normal;
  letter-spacing: normal;
  margin-bottom:10px;
}

.list-prose--i {
  padding:5px 0;
  .ss-icon {vertical-align:middle;}
  .text {padding:0 0 0 10px;}
  @include breakpoint(one-hand) {
    font-size:16px; 
  }
}

.large-list-i .link {
  padding:20px 0;
  display:block;
  width:100%;
  color:darken($sf-green,50%);
  transition:background .5s;
  -webkit-transition:background .5s;
  border-bottom:1px solid #fff;
}

.large-list-i .link:hover {
  transition:background .5s;
  -webkit-transition:background .5s;
  background: lighten($sf-green, 5%);
}
