ul, ol, .list {
  list-style:none;
  li{
    margin-left: 20px;
  }
}
.no-gutter{
  li{
    margin-left: 0;
  }
}

.horizontal-list {
  width:100%;
  display:block;
  word-spacing: -0.43em;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.horizontal-list--i {
  width:33.3333%;
  display:inline-block;
  text-rendering: auto;
  word-spacing: normal;
  letter-spacing: normal;
  margin-bottom:10px;
}

.list-prose, .post .content ul {
  list-style-type:disc;
  @include breakpoint(one-hand) {
    list-style-type:none;
  }
}

.list-prose--i, .post .content li {
  padding:5px 0;
  .text {padding:0 0 0 10px;}
    @include breakpoint(one-hand) {
      padding:16px 0;
      font-size:16px; 
    }
}

.no-bullets {list-style-type:none!important;}

.list-prose--i {
  padding:5px 0;
  .text {padding:0 0 0 10px;}
    @include breakpoint(one-hand) {
      padding:16px 0;
      font-size:16px; 
    }
}

.large-list-i .link {
  padding:20px 0;
  display:block;
  width:100%;
}
.footer-nav li:first-child{
  margin-left: 0;
}

