@mixin rounded($radius: 4px) {
  $radius: 4px;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin transition($attribute: color, $time: .5s){
  transition:$attribute $time;
  -webkit-transition:$attribute $time;
  -moz-transition:$attribute $time;
  -o-transition:$attribute $time;
}
