.default { color:$sf-dark-gray; }
.wht {color:#fff!important;}

.bg-dark {
  background-color:$sf-dark-gray;
  color:#ccc;
}

.bg-light {
  color:$sf-dark-gray;
  background-color:$sf-light-gray;
}

.bg-lightest {
  background-color:$lightest;
  color:$sf-dark-gray;
}

.bg-green {
  background-color:$sf-green;
  color:darken($sf-green,45%);
}

.green { color:darken($sf-green,20%); }
.green-hover:hover {color:$sf-green;}

.bb-gray { border-bottom:1px solid $border-color; }
.bg-yellow {background-color:darken($sf-green,25%);color:lighten($sf-green,30%);}
.bg-blue {background-color:$blue;color:darken($blue,40%);}

.opacity-hover:hover {
  opacity:0.5;
  -webkit-transition:opacity .5s;
  transition:opacity .5s;
}

@include breakpoint(one-hand) {
  .mobile-list-border {
    border-bottom:1px solid rgba(0,0,0,0.1);
  }
}


.bt-li {
  border-top:1px solid rgba(0,0,0,0.2);
}

.bg-ligreen {
  color:#fff;
  border-bottom:1px dotted darken($sf-green,25%);
}

.bg-ligreen:hover {
  color:#fff;
  background: lighten($sf-green, 5%);
}

.bg-ligreen-no-hover,
.bg-ligreen-no-hover:hover{
  background: none;
}

.trans-bg {
  transition:background .5s, color .5s;
  -webkit-transition:background .5s, color .5s;
}

.trans-bg:hover {
  transition:background .5s, color .5s;
  -webkit-transition:background .5s, color .5s;
}

.trans-pl span {
  transition:padding-left ease-in-out .3s;
  -webkit-transition:padding-left ease-in-out .3s, color ease-in-out .3s;
}

.trans-pl:hover span {
  transition:padding-left ease-in-out .3s;
  -webkit-transition:padding-left ease-in-out .3s;
  padding-left:10px;
}
