.default { color:$sf-dark-gray; }

.bg-dark {
  background-color:$sf-dark-gray;
  color:#ccc;
}

.bg-light {
  color:$sf-dark-gray;
  background-color:$sf-light-gray;
}

.bg-lightest {
  background-color:$lightest;
  color:$sf-dark-gray;
}

.bg-green {
  background-color:$sf-green;
  color:darken($sf-green,45%);
}

.green { color:darken($sf-green,20%); }
.green-hover:hover {color:$sf-green;}

.bb-gray { border-bottom:1px solid $border-color; }
.bg-yellow {background-color:darken($sf-green,25%);color:lighten($sf-green,30%);}
.bg-blue {background-color:$blue;color:darken($blue,40%);}

.opacity-hover:hover {
  opacity:0.5;
  -webkit-transition:opacity .5s;
  transition:opacity .5s;
}

@include breakpoint(one-hand) {
  .mobile-list-border {
    border-bottom:1px solid rgba(0,0,0,0.1);
  }
}


.bt-li {
  border-top:1px solid rgba(0,0,0,0.2);
}
