.section-padding {
  padding-top:40px;
  padding-bottom:40px;
}

.half-padding {
  padding-top:10px;
  padding-bottom:10px;
}

.content-box {
  padding:0 0 0 20px;
}

.p-1 {
  padding:10px;
}

.pr-1 {
  padding-right: 10px;
}

.pt-1 {
  padding-top:10px;
}

.m-0 {
  margin:0;
}

.m-2 {
  margin: 20px 0!important;
}

.mb-4 {
  margin-bottom: 40px!important;
}

.my-heading-clear {
  margin:20px 0 40px 0;
}
