/* ==========================================================================
   ALL THINGS TYPE

   - Global type styles
   - Headings & Type Scale
   - Utilities
   ========================================================================== */

/* Fonts
   ========================================================================== */

/**
 *  Fonts are served up through typekit. Shouldn't need to declare them anywhere 
 *  else. These defaults should be good.
 */

body { 
  font-family: BrandonText;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  font-size:20px;
}



/* Headings & Type Scale
   ========================================================================== */

h1,h2,h3,h4,h5,h6 { 
  font-family: "BrandonGrotesque";
  margin-top:0;
}

h1, .h1, .f1 { font-size:72px; font-weight:900;}
h2, .h2, .f2 { font-size:48px; font-weight:900;}
h3, .h3, .f3 { font-size:32px; font-weight:900;}
h4, .h4, .f4 { font-size:18px; font-weight:700;}
h5, .h5, .f5 { font-size:16px; font-weight:400;}
h6, .h6, .f6 { font-size:14px; font-weight:200;}


.thin {font-weight:100;}
.mega { font-size:72px; }

@include breakpoint(one-hand) {
  .mega {font-size:26px;}
  h1,h2,h3,h4,h5,h6 {font-weight:bold;}
  h1, .h1, .f1 { font-size:32px; }
  h2, .h2, .f2 { font-size:32px; }
  h3, .h3, .f3 { font-size:20px; }
  h4, .h4, .f4 { font-size:20px; }
  h5, .h5, .f5 { font-size:16px; }
  h6, .h6, .f6 { font-size:14px; }
}

/* Random Utilties
   ========================================================================== */

/** Bold things */
strong,  b,  .b { font-weight:bold!important;}

/** Italicize things */
em,      i,  .i { font-style:italic; }

.title { 
  line-height:1.3; 
  letter-spacing:.05em;
  text-transform:uppercase;
  margin:0;
}

.lh-1     { line-height:1; }
.lh-2     { line-height:2; }
p,.copy   { line-height:1.618; }
.caps { text-transform:uppercase;}

.sans-serif { font-family:"BrandonGrotesque"; }
.vm { vertical-align:middle;}

.meta{
  font-size: 14px;
  color: #999;
}
li .meta{
  margin-left: 20px;
}
.intro{
  font-size: 24px;
  line-height: 1.5em;
}
.post{
  .meta{
    font-size: 16px;
    color: #333;
    font-style: italic;
  }
}

blockquote {
  font-style: italic;
}
