$blue:#C0D8D8;
$red:#d83018;
$culture-color:$red;
$dark:#3a3232;
$bg:#EBF7F8;
$promo-color:lighten($blue,20%);

$sf-green:adjust-hue(#9ed7d1, 5%);
$sf-yellow:#f2e230;
$sf-dark-gray:#464547;                                                                                                                          
$sf-medium-gray:#bebfc1;                                                                                                                        
$sf-light-gray:#efefef;
$lightest:#f9f9f9;
$sf-red:#bf3030;                                                                                   
$border-color:darken($sf-light-gray, 1.618);
