/* AUTHOR: MRMRS 
   License: Public domain(none) 
 */

/* RESET */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, u, dl, dt, dd, ol, ul, li, fieldset, input,form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { padding:0; margin:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;} ol, ul { list-style: none; } blockquote, q { quotes: none; } a,a:link,a:visited,a:active {text-decoration:none;color:#000;} p a { font-weight:bold; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }


$blue:#C0D8D8;
$red:#d83018;
$culture-color:$red;
$dark:#3a3232;
$bg:#EBF7F8;
$promo-color:lighten($blue,20%);

@mixin rounded($radius: 4px) {
  $radius: 4px;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin transition($attribute: color, $time: .5s){
  transition:$attribute $time;
  -webkit-transition:$attribute $time;
  -moz-transition:$attribute $time;
  -o-transition:$attribute $time;
}


html {
  background:$bg;
  color:#222;
}

.promo {
  background-color:#fff;
  padding:80px 0px 100px 0;
  color:#666;

  a,
  a:link,
  a:visited {
    color:lighten($red,2%);
    -webkit-transition:color .5s;
  }

  a:hover,a:active {
    color:darken($blue,5%);
    -webkit-transition:color .5s;
  }

  .apply-now {
    a.btn,.btn:link,.btn:visited {
    background-color:lighten($red,12%);
    color:#fff;
    margin-top:30px;
    @include transition(color,.5s);
    }
  }

  .apply-now a.btn:hover {
    background-color:darken($blue,5%);
    color:#fff;
    @include transition(background-color,.5s);
  }
}

.promo .tagline {
  font-size:72px;
  line-height:1.618;
  color:#333;
}


/* Grid */

.bin  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12   { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.content {
  .c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12   { margin-bottom:20px;}
}

/* Nested Column Classes */
.alpha               { margin-left: 0; }
.omega               { margin-right: 0; }

.c1     {width:60px; }
.c2     {width:140px; }
.c3     {width:220px; }
.c4     {width:300px; }
.c5     {width:380px; }
.c6     {width:460px; }
.c7     {width:540px; }
.c8     {width:620px; }
.c9     {width:700px; }
.c10    {width:780px;}
.c11    {width:860px; }
.c12    {width:940px; }

h1{font-size:96px;}
h2{font-size:59px;}
h3{font-size:36px;}
h4{font-size:22px;}
h5{font-size:16px;}
h6{font-size:14px;}

.details {font-size:12px;}
.legal {font-size:11px;}

/* TABLET - PORTRAIT - 768 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .bin {width: 768px;}
  .c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12 { margin-left: 10px; margin-right: 10px;  }
  .alpha               { margin-left: 0; margin-right: 10px; }
  .omega               { margin-right: 0; margin-left: 10px; }
  .alpha.omega         { margin-left: 0; margin-right: 0; }

  .c1     {width:44px;}
  .c2     {width:108px;}
  .c3     {width:172px;}
  .c4     {width:236px;}
  .c5     {width:300px;}
  .c6     {width:364px;}
  .c7     {width:428px;}
  .c8     {width:492px;}
  .c9     {width:556px;}
  .c10    {width:620px;}
  .c11    {width:684px;}
  .c12    {width:748px;}
}

/* MOBILE - PORTRAIT - 320 */
@media only screen and (max-width: 767px) {
  .bin { width: 300px; }
  .bin .c1,
  .bin .c2,
  .bin .c3,
  .bin .c4,
  .bin .c5,
  .bin .c6,
  .bin .c7,
  .bin .c8,
  .bin .c9,
  .bin .c10,
  .bin .c11,
  .bin .c12 {width:300px;margin-right:0;margin-left:0;}
  .log-in {
    padding-top:20px;
  }

  .perks {
    ul li {
      font-size:18px;
      line-height:1.618;
      margin-bottom:20px;
    }
    span.ss-icon {font-size:24px;top:4px;}
  }

  .promo {
    padding-top:20px;
    h2.tagline {
      font-size:38px;
      margin-bottom:10px;
      font-family:"pt-sans"!important;
    }
    a.btn {
      width:100%;
    }
  }

  body p {
    font-size:16px; 
  }

  header.main h1.logo {
    font-size:24px; 
  }

  .culture-elements {
   li {
     width:100%;
     border-bottom:1px dotted darken($red,10%);
     padding-bottom:20px;
    }
    .first {
     border-top:1px dotted darken($red,10%);
     margin-top:10px;
}
  }
}


/* MOBILE - LANDSCAPE- 480 */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .bin { width: 420px; }
  .bin .c1,
  .bin .c2,
  .bin .c3,
  .bin .c4,
  .bin .c5,
  .bin .c6,
  .bin .c7,
  .bin .c8,
  .bin .c9,
  .bin .c10,
  .bin .c11,
  .bin .c12 {width:420px;margin-left:0;margin-right:0;}
  .log-in {
    padding-top:20px;
  }
}

.bin:after,
form > div:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested c,
or wrap each row of c in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; 
}

.row:after,
.clearfix:after { clear: both; }

.row,
.clearfix { zoom: 1; }

/* You can also use a <br class="clear" /> to clear c */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Basics */

body {
  font-size:22px;
  font-family: "ff-meta-serif-web-pro";
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  position:relative;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: "pt-sans",sans-serif;
  font-weight:700;
}
img { max-width:100%; }
p,ul li {line-height:1.618;}
strong {font-weight:bold;}
em {font-style:italic;}
.row {
  margin-bottom:20px;
}

iframe {
  width:100%;
}

.team {
  background-color:darken($bg,2%);
  border-top:4px solid darken($blue,0%);
  color:darken($blue,50%);

  a {
    color:darken($blue,50%);
    @include transition(color,.5s)
  }

  a:hover {
    color:darken($blue,20%);
    @include transition(color,.5s)
  }

  article {
    border-bottom:1px solid $blue;
    padding-bottom:35px;

    h2 {
      font-size:32px;
      display:inline-block;
    }

    h3 {
      font-size:20px;
      display:inline-block;
      font-weight:100;
      color:#666;
    }

    p {
      font-size:20px;
      margin-top:10px;
      line-height:1.618;
    }
  }
}

.apply {
  background-color:lighten($red,12%);
  color:darken($red,25%);

  .join-us {
    margin-top:60px;
  }

  a:link {
    color:#fff;
  }

  
}

a.btn {
  background-color:#fff;
  font-family: "pt-sans",sans-serif;
  -webkit-border-radius:4px;
  padding:20px;
  display:inline-block;
  font-weight:bold;
  width:auto;
  color:$red;
  -webkit-transition:background-color .5s,color .5s;
  transition:background-color .5s,color .5s;
  -moz-transition:background-color .5s,color .5s;
}

a.btn:link {background-color:#fff;
  color:$red;
}
a.btn:visited {background-color:#fff;
  color:$red;
}
a.btn:hover {
  color:#fff;
  background-color:lighten($red,20%);
  -webkit-transition:background-color .5s,color .5s;
  transition:background-color .5s,color .5s;
  -moz-transition:background-color .5s,color .5s;
  -o-transition:background-color .5s,color .5s;
}

a.btn:active {}

.apply-now { text-align:center; }

section { padding:50px 0; }

section article {
  margin-bottom:50px;
}

.about-us {
  float:left;
  width:100%;
  margin-bottom:40px;
  margin-top:20px;
  line-height:1.618;
  font-weight:bold;
}

.avatar img {
  border-radius:4px;
}

.team article h1 {
  line-height:1; 
}

.apply p {
  font-size:20px;
}
.contact {
  border-top:4px solid #000;
}
.contact  p { font-size:20px;margin-top:10px;
}

.contact {
  background-color:#222;
  color:#eee;
}

.contact img {
  border-radius:4px;
}

.perks {
  background-color:$blue;
}

.perks .ss-icon {
  font-size:36px;
  line-height:36px;
  padding-right:12px;
  position:relative;
  top:8px;
  color:darken($blue, 40%);
}

.perks li {
  line-height:60px;
  color:darken($blue, 60%);
}

.perks h2 {
  color:darken($blue, 60%);
}

.culture li {
  display:inline-block;
  margin-right:20px;
  font-size:24px;
  font-family:"pt-sans"!important;
}

.culture {
  background-color:lighten($culture-color,10%);
  border-top:1px solid darken($red,40%);
}

.culture {
  h2 {color:lighten($culture-color,50%);}
  p {
    color:darken($culture-color,24%);
    /*color:darken($culture-color, 34%);*/
  }
  ul li {color:lighten($culture-color,38%);}
  li span.ss-icon {
    color:lighten($culture-color,40%);
    position:relative;top:14px;
  }
}

header.main {
  h1 {
    line-height:2;
    font-size:32px;
    color:#fff;
    font-weight:900;
    span {
      font-family: "ff-meta-serif-web-pro";
      font-weight:100;
      color:#aaa;
    }
}

  border-bottom:1px solid darken($blue,10%);
  background-color:#333;
  color:#ccc;
}

.culture ul {
  margin-bottom:30px;
}

.culture li {
  font-size:18px;
  padding-right:10px;
}

.culture li .ss-icon {
  font-size:40px;
}

section.apply h2 {
  color:#fff;
  margin-bottom:10px;
}

section h2 {
  font-size:42px;  
  text-transform:uppercase;
}

.experience li {
  font-size:16px; 
}

.apply p {
  margin-bottom:20px;
}

.apply h3 {
  margin-bottom:10px;
}

.apply {
  border-top:4px solid darken($red,20%);
}

.perks {
  border-top:4px solid darken($blue,20%);
}

.apply .position {
  color:darken($red,30%);
}

p.ring-our-bell {
  font-size:36px;
  font-style:italic;
  margin-top:40px;
  color:darken($red,30%);
  a {
    color:lighten(red,40%);
  }
}

p.duh {font-size:22px;margin-top:10px;margin-bottom:10px;}
p.wtf {
  font-size:22px;
  margin-bottom:20px;
  font-style:italic;
}

.ss-social {
  font-size:28px;
  margin-right:10px;
}

/*
body#lynx-fuck-yeah {
  background-color:#000; 
  color:#fff;
  font-size:12px;
  section,p,h1,h2,h3,h4,h5,h6,ul li {
    background-color:#000;
    font-size:12px;
    color:#fff;
    font-family:Monaco,sans-serif;
    font-weight:lighter;
  }
  article {margin:0;padding:0;}
  section,header {border:0;margin:0 0 10px 0;padding:0;}
  .ss-icon {display:none;}
  iframe {display:none;}
  img {display:none;}
  .bin,.c12,.c11,.c10.c9,.c8,.c7,.c6,.c5,.c4,.c3,.c2,.c1 {
    width:100%;
  }
  h1 {color:yellow;}
  strong {color:red;}
  ul li {display:block;color:pink;margin:0;line-height:1.618;}
  section div ul {margin-left:10px;list-style-type:circle;color:#fff;}

}
*/
