/* ==========================================================================
   JUNK CSS TO BE REFACTORED
   Author : Adam Morse
   ========================================================================== */

* {box-sizing:border-box;}

a.btn {
  background-color:#fff;
  font-family: "pt-sans",sans-serif;
  -webkit-border-radius:4px;
  padding:20px;
  display:inline-block;
  font-weight:bold;
  width:auto;
  color:$sf-red;
  transition:background-color .5s,color .5s;
  -webkit-transition:background-color .5s,color .5s;
  -moz-transition:background-color .5s,color .5s;
}

a.btn:link {background-color:#fff;
  color:$sf-red;
}

a.btn:visited {background-color:#fff;
  color:$sf-red;
}

a.btn:hover {
  color:#fff;
  background-color:lighten($sf-red,20%);
  -webkit-transition:background-color .5s,color .5s;
  transition:background-color .5s,color .5s;
  -moz-transition:background-color .5s,color .5s;
  -o-transition:background-color .5s,color .5s;
}


.center {text-align:center;}

section { padding:50px 0; }

.team article h1 { line-height:1; }

.contact img { border-radius:4px; }
.avatar img { border-radius:4px; }

img {max-width:100%;}
iframe { width:100%; }
