/* ==========================================================================
   JUNK CSS TO BE REFACTORED
   Author : Adam Morse
   ========================================================================== */

* {box-sizing:border-box;}
html,body {height:100%;position:relative;}

a.btn {
  background-color:#fff;
  font-family: "pt-sans",sans-serif;
  -webkit-border-radius:4px;
  padding:20px;
  display:inline-block;
  font-weight:bold;
  width:auto;
  transition:background-color .5s,color .5s;
  -webkit-transition:background-color .5s,color .5s;
  -moz-transition:background-color .5s,color .5s;
}

a.btn:hover {
  color:#fff;
  background-color:lighten($sf-red,20%);
  -webkit-transition:background-color .5s,color .5s;
  transition:background-color .5s,color .5s;
  -moz-transition:background-color .5s,color .5s;
  -o-transition:background-color .5s,color .5s;
}


.center {text-align:center;}


.team article h1 { line-height:1; }

img {max-width:100%!important;}
iframe { width:100%; }

.rounded { border-radius:8px; }
.fl { float:left; }
.dib {display:inline-block;}

.site-footer {
  border-top:1px solid $sf-medium-gray;
  padding:20px 0;
  .footer-nav {
    font-size:16px; 
  }
  .link {
    transition:color .4s;
    -webkit-transition:color .4s;
    color:$sf-dark-gray; 
  }
  .link:hover {
    transition:color .4s;
    -webkit-transition:color .4s;
    color:$sf-medium-gray; 
  } 
}
iframe {border:0;margin-bottom:-5px;}

a.ss-icon.ss-social:hover {
  -webkit-transition: color .4s;
  transition: color .4s;
}

a.ss-icon.ss.social:hover {
  -webkit-transition: color .4s;
  transition: color .4s;
}
