---
# CSS manifest: do not remove these front-matter dashes
---

// Override Humble Kit CSS framework default variables
@import "custom_variables.scss";

// Humble Kit
@import "humble_kit/humble_kit.scss";

// Syntax highlighting
@import "syntax-highlighting.scss";

// Site-specific styles
@import "site/fonts/brandon.scss";
@import "site/colors.scss";
@import "site/skins.scss";
@import "site/decoration.scss";
@import "site/modules.scss";

img.text-c {
  display: block;
  margin: 0 auto;
}
