---
title: Algorithm Development Intern
subtitle: Algorithm Development
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">{{ page.subtitle }}</h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>We're a personal styling service with algorithms at the core of our business. As an intern with the Algorithm
      Development team you will have to the chance to have a lasting impact on the business by developing new prediction
      algorithms to help select merchandise that delights our clients.</p>
  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">What to expect</h4>
    </header>
    <ul>
      <li>This is a paid internship for the summer of 2014.</li>
      <li>The hours are generally 9-5 M-F but there is flexibility.</li>
      <li>In this position, you will learn about real applications of data and algorithms for recommendation engines,
        marketing, operations, and merchandising/buying.
      </li>
      <li>At the end your internship you’ll write a tech blog post about your project and give a presentation to our
        team
      </li>
      <li>There may also be an opportunity to write an academic paper on the experience (pending content & approval).)
      </li>
    </ul>
  </article>
</div>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">Potential Projects</h4>
    </header>
    <ul>
      <li>Identifying latent features of clients or merchandise that are useful for prediction</li>
      <li>Developing new features from client feedback</li>
      <li>Improving our model selection methodology</li>
      <li>Are you an expert on a particular subject like ensemble methods, deep learning or matrix completion? Give your
        favorite technique a try and see if it can beat our incumbent algorithms
      </li>
    </ul>
  </article>
</div>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">Desired Skills</h4>
    </header>
    <ul>
      <li>Comfortable fitting models in R, matlab, or Python (numpy, scikit-learn, etc)</li>
      <li>Experience with applied statistics or machine learning techniques: generalized linear models, mixed effects,
        regularization, classifiers, neural networks, optimization.
      </li>
    </ul>
  </article>
</div>

{% include _perks.html %}
{% include _about.html %}
