---
title: Algorithm Developer
subtitle: Algorithm Development
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">{{ page.subtitle }}</h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>Stitch Fix is pioneering a new model of retail. We're a personal styling service with algorithms at the core of our
      business. As an Algorithm Developer at Stitch Fix you will play a central role and contribute to the recommendations
      that drive our service. We're looking for excellent people with a desire to get their hands dirty, build models and
      have a material impact on the business.</p>
  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">Your technical background</h4>
    </header>
    <ul>
      <li>Experience with the entire modeling life-cycle: taking a model from concept to production and back again</li>
      <li>Extensive experience with R, Python, Matlab, Julia or similar statistical tools: you are at home in your
        analysis environment and know what will be easy and what will be hard
      </li>
      <li>Comfortable foraging for your own data: experience with SQL databases or other data platforms</li>
      <li>Solid formal foundation: MS or PhD in statistics, math, computer science or other quantitative field</li>
    </ul>
  </article>
</div>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">You are</h4>
    </header>
    <dl>
      <dt>Practical</dt>
      <dd>recognize that simple is sometimes best (Occam was right)</dd>
      <dt>Flexible</dt>
      <dd>a scrappy developer who excels at projects spanning multiple teams and technologies</dd>
      <dt>A great communicator</dt>
      <dd>just as effective talking with a merchandise coordinator as with a
        software developer</dd>
    </dl>
  </article>
</div>

{% include _perks.html %}
{% include _about.html %}