---
title: The Data Scientist
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">{{ page.subtitle }}</h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">Who we are</h4>
    </header>
    <p>Stitch Fix is forging a new business model and we have some of the best
        data alchemists to drive it. We are an ensemble of high-caliber
        scientists and engineers with expertise ranging from physics,
        neuroscience, to mathematics who are curious thinkers with
        get-things-done built into their DNA. The data we work on, the results,
        and products are some of Stitch Fix’s key ingredients.</p><br><br>

    <header>
        <h4 class="h4">What you will do</h4>
    </header>
    <p>We work on problems that you won't find in a text book, but more likely
        in obscure academic literature. Nine out of ten times we have to create
        our own models to find solutions, with a healthy dose of creativity.
        Do you want to push the boundaries of data science and define the next
        stage of the field? This is where you come in: We want you to innovate
        our algorithms and better grok the data, leveraging every bit of our
        data and pioneer cutting-edge analysis to make it happen.<br><br>

        Your workflow will be well oiled by our data, which is clean and
        information-dense. You will be autonomous from end-to-end where you get
        to do the whole stack without having to wait on others. You will discuss
        and share mathematical and programmatic challenges amongst your stellar
        peers. We foster an environment to make things happen, keep you
        constantly challenged and learn new things everyday.</p>
  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4">We get excited about candidates who have the following</h4>
    </header>
    <ul>
        <li>MS or PhD in subjects ranging from mathematics, astrophysics, to cognitive neuroscience</li>
        <li>Strong skills in statistics, probability, and/or machine learning</li>
        <li>Fluent in R, Python, or Julia</li>
        <li>Adept in relational databases / SQL</li>
        <li>Experience using Dynamo, Cassandra, Hbase or other non-relational DB</li>
        <li>Are scrappy, thrive on autonomy and are a great communicator</li>
        <li>Have an innate curiosity and bias to action</li>
        <li>Identify what's important, and what's not</li>
        <li>Highly skilled in data visualization (big plus)</li>
        <li>Recognizes that simple is sometimes best (Occam was right)</li>
    </ul>
  </article>
</div>

{% include _data_perks.html %}
{% include _about.html %}
