---
title: Sr. Software Engineer
layout: default
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      Data Science Engineering
    </h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>The Data Science Engineering Team at Stitch Fix is where the machine learning algorithms that power the Stitch Fix platform collide with real world computing, and as Stitch Fix continuous its meteoric growth we are looking to bring in talented programmers who will thrive in this space.</p>
    <p>Everyday tasks in this team involve modeling structured and unstructured data, figuring out how to persist and retrieve these data structures at scale, building frameworks that will house our machine learning algorithms, building statistical models and predictive algorithms using standard ML libraries like scikit-learn, coming up with challenger algorithms to uncrown the incumbent (think Netflix competition), building a framework using pyData libraries like Pandas that makes it easy for anyone in the Data Science team to deploy challenger algorithms.</p>
  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article class="m2">
    <header>
      <h4 class="h4 thin light">We get excited about candidates who have the following</h4>
    </header>
    <ul>
      <li>Are an experienced backend/quantitative python programmer (3-5 years)</li>
      <li>Have built applications/frameworks based on top of pyData libraries like numpy, pandas, scipy, scikit-learn</li>
      <li>Are practical yet can write high quality code</li>
      <li>Are familiar with or expert in various machine learning techniques</li>
      <li>Are scrappy, thrive on autonomy and a great communicator</li>
    </ul>
  </article>
</div>

{% include _perks.html %}
{% include _about.html %}