---
title: Sr. Software Engineer
subtitle: Data Science Engineering
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">{{ page.subtitle }}</h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>Stitch Fix is forging a new kind of business model and we have some of the best data alchemists to drive it. We
       are an ensemble of high caliber scientists and engineers with expertise ranging from physics, neuroscience, to
       mathematics who are curious thinkers with get-things-done built into their DNA. The data we work on, the results,
       and products are some of Stitch Fix’s key ingredients.</p>

    <p>In this role you will build a data science platform that can reliably scale to the needs of our data scientists,
       algorithms developers, and growing business.   You will have the opportunity to guide the development and decision
       making at all layers of the data platform from compute infrastructure (e.g. Hadoop, Spark, Redshift), to frameworks
       designed to speed up and aid in algorithms development, to an api / micro-service layer designed to democratize data
       to everyone in the organization.</p>
  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">We get excited about candidates who have the following</h4>
    </header>
    <ul>
      <li>Strong Computer Science background (MS, PhD in CS)</li>
      <li>Very strong coding and design skills (Python, Java, ...)</li>
      <li>Experience designing service oriented architectures; REST APIs</li>
      <li>Experience with AWS (big plus)</li>
      <li>Have an innate curiosity to dig into things and understand how they work</li>
      <li>Are practical yet can write high quality code</li>
      <li>Are scrappy, thrive on autonomy and a great communicator</li>
    </ul>
  </article>
</div>

{% include _perks.html %}
{% include _about.html %}
