---
title: The Data Engineer
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">{{ page.subtitle }}</h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">Who we are</h4>
    </header>
    <p>Stitch Fix is forging a new business model and we have some of the best
        data alchemists to drive it. We are an ensemble of high-caliber
        scientists and engineers with expertise ranging from physics,
        neuroscience, to mathematics who are curious thinkers with
        get-things-done built into their DNA. The data we work on, the results,
        and products are some of Stitch Fix’s key ingredients.</p>

    <header>
        <h4 class="h4">What you will do</h4>
    </header>
    <p>In this role you will build a data science platform that can reliably
        scale to the needs of our data scientists, algorithms developers, and
        growing business. You will have the opportunity to help guide decision
        making and development at all layers of the data platform. This includes
        choosing and deploying compute infrastructure (e.g. Hadoop, Spark,
        Redshift), building frameworks designed to speed up and facilitate
        algorithm development, and developing a micro-service architecture
        designed to democratize data to everyone in the organization.
    </p>
  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4">We get excited about candidates who have the following</h4>
    </header>
    <ul>
        <li>Excellent grasp of computer science fundamentals (e.g. MS or PhD in CS)</li>
        <li>Exceptional coding and design skills (primarily Python or Java)</li>
        <li>Experience designing a micro-service architecture; REST APIs</li>
        <li>Experience developing and deploying on AWS (big plus)</li>
        <li>Have an innate curiosity to dig into things and understand how they work</li>
        <li>Can write concise and high quality code</li>
        <li>Are scrappy, thrive on autonomy and have great communication skills</li>
        <li>Recognizes that simple is sometimes best (Occam was right)</li>
    </ul>
  </article>
</div>

{% include _perks.html %}
{% include _about.html %}
