---
title: The Data Science Intern
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">{{ page.subtitle }}</h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">Who we are</h4>
    </header>
    <p>Stitch Fix is forging a new business model and we have some of the best
        data alchemists to drive it. We are an ensemble of high-caliber
        scientists and engineers with expertise ranging from physics,
        neuroscience, to mathematics who are curious thinkers with
        get-things-done built into their DNA. The data we work on, the results,
        and products are some of Stitch Fix’s key ingredients.</p><br><br>

    <header>
        <h4 class="h4">Stitch Fix data science interns</h4>
    </header>
    <p>We are looking for data science interns to join our Algorithms team. As
        an intern, you will use our rich datasets and cutting edge technologies
        to optimize the merchandise that we carry and how we match it to our
        customers. Novel methods and algorithms you develop will be implemented
        in our A/B testing framework, and adopted if successful.<br><br>

        The ideal candidate has a background in computer science,
        applied mathematics, statistics, or a related technical field. They
        enjoy deriving actionable insights from complex datasets, and they
        are excited to develop, test, and deploy these methods into data
        products that will impact our core business.<br><br>
    </p>

    <header>
        <h4 class="h4">What you will do</h4>
    </header>
    <ul>
        <li>Apply your expertise in quantitative analysis and data munging to
            see beyond the numbers and understand our clients, their preferences
            and new trends in the industry</li>
        <li>Partner with Engineering and Product teams to solve problems and
            identify opportunities; support and execute on product decisions</li>
        <li>Create models to analyze consumption patterns, client behavior
            and optimal allocation of resources</li>
        <li>Be a key player in the design and implementation of new data
            applications</li>
        <li>Automate data analysis and streamline processes to increase business
            efficiency</li>

    </ul>

  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4">We get excited about candidates who have the following</h4>
    </header>
    <ul>
        <li>Our Data Science Interns are 2nd year PhD students or higher in
            Computer Science, Machine Learning, Operations Research, Engineering,
            Statistics, Mathematics or related field</li>
        <li>Ability to employ a variety of supervised and unsupervised machine
            learning methods, for inferential or predictive purposes</li>
        <li>Fluent in SQL, Python, R</li>
        <li>Exceptional interpersonal and communication skills, including the
            ability to describe the logic and implications of a complex model
            to all types of business partners</li>
    </ul>
  </article>
</div>

{% include _intern_perks.html %}
{% include _about.html %}
