---
title: Data Scientist
subtitle: Algorithm Development
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">{{ page.subtitle }}</h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>Stitch Fix has a very different business model, to say the least - we apply the best of algorithms and data science
      and commit to our recommendations through the physical delivery of merchandise to clients. We do this better than
      anyone and we are investing big to take it to the next level. This is where you come in … we want you to innovate
      our algorithms, leveraging every bit of our rich data and pioneering new analytic techniques.</p>
  </article>
</section>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">What to expect</h4>
    </header>
    <ul>
      <li>Experience developing consumer algorithms, recommendation engines, etc.</li>
      <li>MS or PhD in Stats, Math, CS, or similar quant-oriented field.</li>
      <li>Experienced with statistical modeling/data mining algorithms (deep knowledge of the fundamentals – not just the
        mechanics): regression, support vector machines, decision trees, clustering, Bayesian classifiers, ensemble
        methods (random forest, bagging, boosting, … etc.)
      </li>
      <li>Experience in statistical analysis tools such as R, Weka, Julia, SAS, etc.</li>
      <li>Adept in relational databases / SQL</li>
      <li>Helpful scrappy tech skills - not required, but tend to make folks more effective, nimble, and autonomous:
        <ul class="mt1">
          <li>Coding: Python/Ruby/Java/C++/Perl</li>
          <li>Big Data/Hadoop: hdfs concepts, mapreduce, pig, parallel computing …etc</li>
          <li>NoSql dbs: Mongo, Cassandra, Hbase, …etc</li>
        </ul>
      </li>
    </ul>
  </article>
</div>

<div class="container contain-to-md small-dl m4">
  <article>
    <header>
      <h4 class="h4 thin light">Innate Qualities</h4>
    </header>
    <p>Okay, you’ve got the tech and analytic chops to get stuff done. Good. But, do you have the other qualities that
      make for a great Data Scientist? </p>
    <dl class="mt2">
      <dt>Curiosity</dt>
      <dd>a desire to go beneath the surface to understand the fundamentals of a phenomenon.</dd>
      <dt>Storytelling</dt>
      <dd>the ability to distill-down insights and succinctly articulate the opportunity.
        Requires great data visualization, effective communication, and outstanding judgment to identify the most salient
        points.</dd>
      <dt>Creativity</dt>
      <dd>the ability to frame a problem in innovative ways.</dd>
      <dt>Passion</dt>
      <dd>you can’t wait to get out of bed each morning to continue your amazing work. It’s
        already good enough, but you are compelled to make something beautiful.</dd>
      <dt>Desire for Impact</dt>
      <dd>you have an appreciation for elegant theory, but feel that ultimate
        validation comes from making a difference. You want to put your money where your mouth is and push your stuff
        live.</dd>
    </dl>
  </article>
</div>

{% include _perks.html %}
{% include _about.html %}