---
title: Director of Engineering, Customer Experience
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      San Francisco
    </h2>
  </header>
  <div class="text-c">
    <a href="mailto:recruiting@stitchfix.com" class="btn btn-primary">Email recruiting@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>
    This role would be responsible for Customer Facing technology products at Stitch Fix.  This at least includes responsibility for customer experience, new products, mobile,  acquisition and retention.  We are a small team fleshing out the company and product together. The work you do will be extremely important to the future of the service and business.  The ideal candidate for this role has a strong technology background and excels at hiring, coaching and inspiring talented teams.  This position reports to the CTO.
    </p>
  </article>
  <div class="container contain-to-md small-dl">
    <article>
      <header>
        <h4 class="m2">Responsibilities</h4>
      </header>
      <p>
      <ul>
        <li>Manage and develop a team of product engineers. </li>
        <li>Roadmap ownership, we do not have Product Managers</li>
        <li>Partner closely with the marketing, customer service, and Head of UX to ensure an effective, consistent, high quality customer experience</li>
        <li>Recruit new product engineers and actively participate in the hiring process</li>
        <li>Guide key technology decisions</li>
        <li>Maintain already high level of trust between Engineering and the rest of the company </li>
      </ul>
      </p>
    </article>
  </div>
  <div class="container contain-to-md small-dl">
    <article>
      <header>
        <h4 class="m2">Requirements</h4>
      </header>
      <p>
      <ul>
        <li>Strong history of setting clear goals, setting up team members for overall success, and delivering lots of product</li>
        <li>Fluency with and the ability to operate beyond typical Agile methodologies</li>
        <li>Expertise building consumer facing web and mobile products</li>
        <li>Effective at high level product strategy</li>
        <li>Strong experience in a fast-paced, high growth and highly fluid environment</li>
        <li>Minimum 10 years experience in product development</li>
        <li>Minimum 5 years managing others and 2 years managing managers</li>
      </ul>
      </p>
    </article>
  </div>

</section>

{% include _perks.html %}
{% include _about.html %}
