---
title: Head of User Experience
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      San Francisco
    </h2>
  </header>
  <div class="text-c">
    <a href="mailto:recruiting@stitchfix.com" class="btn btn-primary">Email recruiting@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>
    You will own Product Design across all technology products at Stitch Fix, including our customer facing products, our merchandising platform, our Styling platform used by a large remote workforce, and the suite of custom products that run our unique warehouse operations and shipping logistics.
    </p>
    <p>In this role you will</p>
  </article>
  <div class="container contain-to-md small-dl">
    <article>
      <p>
      <ul>
        <li>Define the vision and strategy for product design across multiple business units</li>
        <li>Build an amazing team</li>
        <li>Own the design for the entire customer experience </li>
        <li>Work with the whole product development team to redfine what a retail business can be</li>
        <li>Champion the Stitch Fix design community</li>
        <li>Be a strong advocate for Customer Experience and Design Thinking on the leadership team</li>
      </ul>
      </p>
    </article>
  </div>

</section>
{% include _design_perks.html %}
{% include _about.html %}

