---
title: Head of User Experience
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      San Francisco
    </h2>
  </header>
  <div class="text-c">
    <a href="mailto:recruiting@stitchfix.com" class="btn btn-primary">Email recruiting@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>
    This role would be responsible for Product Design across all technology products at Stitch Fix, including our customer facing products, our merchandising platform, our Styling platform used by a large remote workforce, and the suite of custom products that run our unique warehouse operations and shipping logistics. This position reports to the CTO.
    </p>
  </article>
  <div class="container contain-to-md small-dl">
    <article>
      <header>
        <h4 class="m2">Responsibilities</h4>
      </header>
      <p>
      <ul>
        <li>Manage and develop a small team of product designers. This requires setting clear goals, managing project loads and allocating designers accordingly, ensuring deadlines are met and setting up team members for overall success</li>
        <li>Guide the team to develop best practices for ensuring a high bar of quality</li>
        <li>Collaborate cross-functionally with all departments to ensure product designs are achieving the right goals</li>
        <li>Partner closely with the marketing and customer service teams to ensure a consistent, high quality, brand-correct customer experience</li>
        <li>Recruit new  product  designers and actively participate in the hiring process</li>
        <li>Roll up your sleeves and contribute as a product designer</li>
        <li>Execute in a fast-paced and highly fluid environment</li>
      </ul>
      </p>
    </article>
  </div>
  <div class="container contain-to-md small-dl">
    <article>
      <header>
        <h4 class="m2">Requirements</h4>
      </header>
      <p>
      <ul>
        <li>Strong portfolio that demonstrates systems thinking, analysis, and design across a range of interactive design formats (not just finished product screenshots)</li>
        <li>Experience and expertise in high level product strategy</li>
        <li>Familiarity with “Lean Design” processes—rapid prototyping, iterative development, and continuous product deployment—for digital products</li>
        <li>Minimum 6 years industry experience in UX design</li>
        <li>Minimum 2 years industry experience in management or leadership of a design team</li>
        <li>Solid background in a relevant field, such as Design, HCI, Psychology, or commensurate work experience; degree a plus</li>
        <li>Eloquent communication &amp; presentation skills</li>
        <li>Solid analytical skills regarding both quantitative and qualitative data</li>
        <li>Effective time management skills to balance project schedule with fast-paced goals</li>
      </ul>
      </p>
    </article>
  </div>

</section>

{% include _perks.html %}
{% include _about.html %}
