---
layout: default
---

{% include _header.html %}
<div class="column-wrapper section-padding">
  <h1 class="h2 m-0">Open Positions</h1>
</div>
<div class="bg-green">
  <article class="column-wrapper">
    <div class="half-padding pt-1">
      {% include _job_links.html %}
    </div>
  </article>
</div>
<article class="column-wrapper">
  <p class="section-padding">
    Get in touch at
    <a href="mailto:tech-jobs@stitchfix.com" title="Email tech-jobs@stitchfix.com" class="btn-click btn-yellow">tech-jobs@stitchfix.com</a>
  </p>
</article>
