---
layout: default
type: jobs
---
{% assign jobs = site.collections['jobs']['docs'] %}

<div class="w-tab-pane w--tab-active" data-w-tab="Jobs">
  <div class="headimage_jobs">
  </div>
  <div class="w-section section sectionheader">
    <h2>Technology jobs at Stitch Fix</h2>
    <h3>Starting the day with a team you connect with is critical to our success.</h3>
  </div>
  <div class="w-clearfix filterwrapper mobilehide">
    {% capture teams_nav_content %}
      {% for team in site.data['teamnames'] %}
        <a href="#{{ team.id }}" class="w-dropdown-link dropdownitem">{{ team.name }}</a>
      {% endfor %}
    {% endcapture %}

    {% include nav_filter.html label="Teams" content=teams_nav_content %}


    <div class="w-dropdown filter jobfilter">
      <div class="w-dropdown-toggle w-clearfix filtercontent">
        <div class="filterlabel">Locations</div>
        <div class="w-icon-dropdown-toggle dropdownicon">
        </div>
      </div>
      <nav class="w-dropdown-list dropdownlist">
        <a class="w-dropdown-link dropdownitem" href="#">San Francisco</a>
        <a class="w-dropdown-link dropdownitem" href="#">Pittsburg</a>
        <a class="w-dropdown-link dropdownitem" href="#">Washington, DC</a>
      </nav>
    </div>
    <div class="w-dropdown filter jobfilter">
      <div class="w-dropdown-toggle w-clearfix filtercontent">
        <div class="filterlabel">Types</div>
        <div class="w-icon-dropdown-toggle dropdownicon">
        </div>
      </div>
      <nav class="w-dropdown-list dropdownlist">
        <a class="w-dropdown-link dropdownitem" href="#">Full Time</a>
        <a class="w-dropdown-link dropdownitem" href="#">Contract</a>
        <a class="w-dropdown-link dropdownitem" href="#">Internship</a>
      </nav>
    </div>

    <a href="/jobs">
      <p class="sectionbutton formbutton">
        <!-- TODO: jobfilter -->
        {% if site.jobfilter %}
          See all {{ site.jobfilter | team_name: site.data.teamnames }} Jobs
        {% else %}
          See all Jobs
        {% endif %}
      </p>
    </a>
  </div>

  <!-- TODO: populate filters from jobs data -->
  <div class="w-dropdown mobilefilter topmobilefilter">
    <div class="w-dropdown-toggle w-clearfix filtercontent mobilefiltercontent">
      <div class="filterlabel mobilefilterlabel">All Teams</div>
      <div class="w-icon-dropdown-toggle dropdownicon">
      </div>
    </div>
    <nav class="w-dropdown-list dropdownlist">
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Engineering</a>
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Data Science</a>
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Product Design</a>
    </nav>
  </div>
  <div class="w-dropdown mobilefilter">
    <div class="w-dropdown-toggle w-clearfix filtercontent mobilefiltercontent">
      <div class="filterlabel mobilefilterlabel">All Locations</div>
      <div class="w-icon-dropdown-toggle dropdownicon">
      </div>
    </div>
    <nav class="w-dropdown-list dropdownlist">
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">San Francisco</a>
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Pittsburg</a>
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Washington, DC</a>
    </nav>
  </div>
  <div class="w-dropdown mobilefilter">
    <div class="w-dropdown-toggle w-clearfix filtercontent mobilefiltercontent">
      <div class="filterlabel mobilefilterlabel">All Types</div>
      <div class="w-icon-dropdown-toggle dropdownicon">
      </div>
    </div>
    <nav class="w-dropdown-list dropdownlist">
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Full-Time</a>
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Part-Time</a>
      <a class="w-dropdown-link dropdownitem mobiledropdown" href="#">Internships</a>
    </nav>
  </div>

  <a class="button formbutton mobileformbutton" href="/jobs">Reset Filters</a>

  <div class="joblist">
    {% for job in jobs %}
      <a class="w-clearfix w-inline-block jobslink" href="{{ job.url }}" data-job-location="{{ job.location }}" data-job-team="{{ job.team }}">
        <div class="jobtitle">{{ job.title }}</div>
        <div class="joblocation">
          {{ job.team | team_name: site.data.teamnames }} in
          <span class="joblo">{{ job.location | join: ", " }}</span>
        </div>
      </a>
    {% endfor %}
  </div>
</div>