---
title: Lead iOS Engineer
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      San Francisco
    </h2>
  </header>
  <div class="text-c">
    <a href="mailto:tech-jobs@stitchfix.com" class="btn btn-primary">Email tech-jobs@stitchfix.com to Apply</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>
    Stitch Fix is making its first foray into mobile and we’re looking for a great engineering leader to help us get there.  
    As the first mobile hire, you will be responsible for all aspects of mobile development, from product definition to technical architecture and design.  
    Stitch Fix is a different kind of company where we think the people actually doing the work are the ones who are best suited to decide what to build.  
    As such, we don’t have a product management discipline.  Instead, we expect our engineers to make critical decisions around product development .  
    If you get excited by the idea of being a foundational member of Stitch Fix’s mobile engineering team and you're passionate about building new product, email your resume to <a href="mailto:tech-jobs@stitchfix.com">tech-jobs@stitchfix.com</a>  
    </p>
  </article>
  <div class="container contain-to-md small-dl">
    <article>
      <header>
        <h4 class="m2">Responsibilities</h4>
      </header>
      <p>
      <ul>
        <li>Design, architect, and develop Stitch Fix's first mobile application</li>
        <li>Help grow and lead Stitch Fix's mobile team</li>
        <li>Partner with stakeholders to define and develop the best possible product for our customers</li>
        <li>Work closely with Stitch Fix's platform and web teams to integrate the mobile experience with backend services</li>
        <li>Guide key technology decisions</li>
        <li>Provide and adhere to best-practices for mobile application development</li>
        <li>Develop and maintain mobile applications, tools and re-usable components</li>
      </ul>
      </p>
    </article>
  </div>
  <div class="container contain-to-md small-dl">
    <article>
      <header>
        <h4 class="m2">Requirements</h4>
      </header>
      <p>
      <ul>
        <li>4+ years professional experience developing production software</li>
	<li>2+ years experience developing complex iOS applications</li>
        <li>Solid understanding of product development, with multiple examples of shipped product</li>      
        <li>Significant experience interacting with and/or designing and implementing RESTful APIs</li>
        <li>Deep understanding of end-to-end SW development tool chains and environments for the different Mobile Application Development environments</li>
        <li>Passion for writing clean, maintainable, and testable code at both the UI and system levels</li>
        <li>Excellent programming and computer science fundamentals, and a deep love for technology</li>
      </ul>
      </p>
    </article>
  </div>

</section>

{% include _perks.html %}
{% include _about.html %}
