---
title: Lead Product Designer – Stylist Platform
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      San Francisco
    </h2>
  </header>
  <div class="text-c">
    <a href="http://stitchfix.theresumator.com/apply/NV6L39/Lead-Product-Designer-Stylist-Platform.html" class="btn btn-primary">Apply for this role</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
      <p>At Stitch Fix, our goal is to help our customers look great and feel great about themselves by revolutionizing how people shop. In a time-starved world where shopping often feels overwhelming, our business connects customers to clothes they love. Whether it's helping someone dress for success at a new job or taking the stress out of packing for a family vacation, we fix clients' closets – and they love us for it!</p>

      <p>We've built unique, innovative software for merchandising, warehouse and inventory management, remote styling, and logistics. We leverage vast amounts of client data to make decisions throughout the company. All of this results in a simple, powerful offering to our clients and a very successful business. We believe we are only scratching the surface of our opportunity, and we're looking for incredible people to contribute!</p>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">Requirements – All about you!</h4>
    </header>
      <ul>
        <li>You’re a fantastic end-to-end product designer with a track record of getting effective software into users’ hands.</li>
        <li>Educational background in human-computer interaction, cognitive psychology, interaction design, information sciences, or similar.</li>
        <li>You can design a holistic expert-use application that supports a huge range of user goals and tasks through a single interface.</li>
        <li>You're comfortable designing concrete, buildable solutions to business and user problems.</li>
        <li>You have a fundamentally user-centered approach to product management and UX design.</li>
        <li>You have a demonstrated ability to guide products from start to finish, select appropriate research and analytic methods to evaluate project success, prioritize features, iterate on features, and coordinate what needs to get done to deliver great user experience.</li>
        <li>Experience working on a broad range of products, including consumer, B2B, expert-use, high-efficiency, and / or professional-use. </li>
        <li>Ability to manage complex projects with multiple stakeholders.</li>
        <li>Ability to present your work and advocate for appropriate design solutions.</li>
        <li>Experience designing for multiple platforms, such as web, desktop client, mobile, TV, service design, and/or voice</li>
      </ul>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">What You’ll Do</h4>
    </header>
    <p>
    This is a principal-level role. You will lead product design for the Stitch Fix Stylist Platform – the software that drives stylists’ interactions with our customers and is at the core of our business. 
    </p>
      <p>
        <ul>
          <li>Deliver great, high-quality design work for this expert-efficiency platform</li>
          <li>Identify business and user needs for the Stylist Platform</li>
          <li>Define and execute the UX strategy and vision for the next generation of the Stylist Platform</li>
          <li>Identify and track key metrics that measure the success of the UX</li>
          <li>Define and design A/B tests</li>
          <li>Exemplify great UX and product development process – iterative research, design, and testing</li>
          <li>Work with business partners to make sure their needs are represented and met in the product</li>
          <li>Lead and participate in cross-team design reviews</li>
          <li>Help grow our UX team through recruiting and participation in industry events</li>
        </ul>
      </p>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">About the Product Design Team</h4>
    </header>
      <p>
        Our design roles are oriented around user experiences, not platform. The Product Design team supports four major platforms: customer, styling, merchandising, and warehouse. We initiate and support cross-product projects. Stitch Fix has a user-centered culture and we help surface user research to the teams who use it to make decisions. The team is currently small, so we're looking top-notch designers to help us shape UX process within the company.
      </p>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">Why you'll love working at Stitch Fix</h4>
    </header>
      <p>
        <ul>
            <li>We’re a successful, fast-growing company with a start-up work vibe</li>
            <li>A technology-and data-driven business</li>
            <li>Competitive salaries, generous equity, and comprehensive health benefits</li>
            <li>We’re at the forefront of tech and fashion, redefining retail for the next generation</li>
            <li>We’re passionate about our clients and live/breathe the client experience</li>
            <li>We get to be creative on a daily basis</li>
            <li>A smart, experienced leadership team that wants to do it right &amp; is open to new ideas</li>
            <li>We believe in autonomy &amp; we reward taking initiative</li>
            <li>We have fun! Free lunches, a fully-stocked snack &amp; drink pantry, regular happy hours, lunch-and-learns, all-hands meetings and fun events.  </li>      
          </ul>
      </p>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">More About Stitch Fix</h4>
    </header>
      <p>
       At Stitch Fix, we’re the first fashion retailer to blend expert styling, proprietary technology and unique product to deliver a refined shopping experience. Using a blend of art and science, we deliver a deeply personalized shopping service to our customers. This novel juxtaposition—at once analytic and artistic, technical and adventurous—attracts an extraordinary collection of talented people who are both thinkers and doers. Our diverse workforce has catalyzed enormous company growth over the past three years in terms of customer satisfaction and service efficacy. We’d love for you to help us carry on the trend.
      </p>
  </article>


</section>

<section class="container contain-to-md m4">
  <div class="text-c">
    <a href="http://stitchfix.theresumator.com/apply/NV6L39/Lead-Product-Designer-Stylist-Platform.html" class="btn btn-primary">Apply for this role</a>
  </div>

  
</section>

{% include _design_perks.html %}
{% include _about.html %}

