---
title: Senior Full-Stack Rails Engineer
layout: default
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      San Francisco / Pittsburgh / Remote
    </h2>
  </header>
</div>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">The Role</h4>
    </header>
    <p>
      We are looking for an experienced full-stack engineer who has built a couple of full Rails applications or has
      some other MVC framework experience. You want to learn from an experienced development team and develop your own
      skills.
    </p>
    <p>
      You may not have much hands-on product management experience but it’s something you are keen to learn because you
      love talking to your clients about what you can build for them. You are interested in how Stitch Fix works as a
      business, not just in the technology, and you would like a chance to make it work even better.
    </p>
  </article>
</section>

{% include _engineer_candidate_traits.html %}
{% include _perks.html %}
{% include _about.html %}