---
title: UX Designer – Customer Acquisition
layout: jobs
---

<div class="container contain-to-md m4">
  <header class="text-c mt6">
    <h1 class="h1 thin">{{ page.title }}</h1>

    <h2 class="h2 thin light">
      San Francisco
    </h2>
  </header>
  <div class="text-c">
    <a href="http://stitchfix.theresumator.com/apply/ECuHjw/UX-Designer-Customer-Acquisition.html" class="btn btn-primary">Apply for this role</a>
  </div>
</div>

<section class="container contain-to-md m4">
  <article>
      <p>At Stitch Fix, our goal is to help our customers look great and feel great about themselves by revolutionizing how people shop. In a time-starved world where shopping often feels overwhelming, our business connects customers to clothes they love. Whether it's helping someone dress for success at a new job or taking the stress out of packing for a family vacation, we fix clients' closets – and they love us for it!</p>

      <p>We've built unique, innovative software for merchandising, warehouse and inventory management, remote styling, and logistics. We leverage vast amounts of client data to make decisions throughout the company. All of this results in a simple, powerful offering to our clients and a very successful business. We believe we are only scratching the surface of our opportunity, and we're looking for incredible people to contribute!</p>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header>
      <h4 class="h4">What You'll Do</h4>
    </header>
      <ul>
        <li>Deliver production-quality design for user-facing flows that span multiple platforms (web, mobile, email, etc)</li>
        <li>Partner with our branding and visual design teams to deliver high quality visual interface designs</li>
        <li>Explore multiple solutions for a given problem, iterating to your final recommended approach</li>
        <li>Prototype your designs and communicate them to business partners, users, and engineering team members</li>
        <li>Work closely with engineering and QA to ensure that the deployed design is the right level of polish and quality for its purpose</li>
        <li>Work with other designers and team members to test your designs appropriately</li>
        <li>Plan and design A/B tests to improve conversion and bring new customers to the service across multiple platforms</li>
        <li>Gather and manage feedback from users and business partners</li>
        <li>Work closely with the Marketing team as you craft great user experiences and ensure that UX requirements are met for customer-facing product</li>
      </ul>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">About You / Requirements</h4>
    </header>

        <ul>
          <li>Fantastic interaction design and flow design skills</li>
          <li>Fantastic visual interface design skills (branding not required)</li>
          <li>An educational background in human-computer interaction, interaction design, communication design, or similar</li>
          <li>Experience in gamification, flow optimization, and user acquisition</li>
          <li>You have a fundamentally user-centered approach to UX design</li>
          <li>Experience designing for multiple platforms – native mobile and responsive web</li>
          <li>Outstanding verbal and written communication skills</li>
          <li>Supplementary design skills, like motion design, sound design, and/or front-end engineering, are a plus</li>
          <li>A knack for UI copy and persuasive writing is a plus</li>
          <li>You have an “always-learning” attitude and practice</li>
        </ul>
   
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">About the Product Design Team</h4>
    </header>
      <p>
        Our design roles are oriented around user experiences, not platform. The Product Design team supports four major platforms: customer, styling, merchandising, and warehouse. We initiate and support cross-product projects. Stitch Fix has a user-centered culture and we help surface user research to the teams who use it to make decisions. The team is currently small, so we're looking top-notch designers to help us shape UX process within the company.
      </p>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">Why you'll love working at Stitch Fix</h4>
    </header>
      <p>
        <ul>
            <li>We’re a successful, fast-growing company with a start-up work vibe</li>
            <li>A technology-and data-driven business</li>
            <li>Competitive salaries, generous equity, and comprehensive health benefits</li>
            <li>We’re at the forefront of tech and fashion, redefining retail for the next generation</li>
            <li>We’re passionate about our clients and live/breathe the client experience</li>
            <li>We get to be creative on a daily basis</li>
            <li>A smart, experienced leadership team that wants to do it right &amp; is open to new ideas</li>
            <li>We believe in autonomy &amp; we reward taking initiative</li>
            <li>We have fun! Free lunches, a fully-stocked snack &amp; drink pantry, regular happy hours, lunch-and-learns, all-hands meetings and fun events.  </li>      
          </ul>
      </p>
  </article>
</section>

<section class="container contain-to-md m4">
  <article>
    <header class="m2">
      <h4 class="h4">More About Stitch Fix</h4>
    </header>
      <p>
       At Stitch Fix, we’re the first fashion retailer to blend expert styling, proprietary technology and unique product to deliver a refined shopping experience. Using a blend of art and science, we deliver a deeply personalized shopping service to our customers. This novel juxtaposition—at once analytic and artistic, technical and adventurous—attracts an extraordinary collection of talented people who are both thinkers and doers. Our diverse workforce has catalyzed enormous company growth over the past three years in terms of customer satisfaction and service efficacy. We’d love for you to help us carry on the trend.
      </p>
  </article>


</section>

<section class="container contain-to-md m4">
  <div class="text-c">
    <a href="http://stitchfix.theresumator.com/apply/ECuHjw/UX-Designer-Customer-Acquisition.html" class="btn btn-primary">Apply for this role</a>
  </div>


</section>

{% include _design_perks.html %}
{% include _about.html %}

