---
layout: default
type: engineering
---

<div class="w-tab-pane w--tab-active tabpane" data-w-tab="Engineering">
  <div class="headimage_engineering"></div>
  <div class="w-section section sectionheader">
    <h2>Engineering</h2>
    <h3>Evolving Architecture — No Ivory Towers</h3>
    <img class="sectionicon" src="/assets/images/svgs/icondummy.svg" width="60">
  </div>
  <div class="w-section section">
    <img class="arrow" src="/assets/images/svgs/arrowgb.svg" width="150">
    <h1>Our Teams</h1>
    <div class="sectioncontent">
      <div class="w-row twocol">
        <div class="w-col w-col-6 column">
        </div>
        <div class="w-col w-col-6 column">
          <h2 class="listhead">Personal Styling</h2>
          <p>The “secret sauce”&nbsp;that marries our data science with human stylists to create an individualized fix for each customer</p>
          <p>The Personal Styling team is creating a user experience to allow our stylists to give our customers the best Fix they can.</p>
          <h2 class="listhead">Merchandising</h2>
          <p>Our buyers must manage a wide variety of styles, keeping our warehouses full so our data scientists can arm our stylists with something for every one of our customers.</p>
          <p>The Merchandising team is building next-generation tools to keep our buyers and merchandise pipeline full of a wide variety of inventory to arm our stylists (and algorithms)</p>
          <h2 class="listhead">Warehouse &amp; Logistics</h2>
          <p>Every day, hundreds of people swarm into our warehouses, making sure thousands of items get shipped to, and received back from, our happy customers.</p>
          <p>Our Warehouse &amp; Logistics team is crafting bespoke tools from laptops, barcode scanners, carts, and web-applications to make our warehouse associates efficient &amp; effective.</p>
          <h2 class="listhead">Customer Experience</h2>
          <p>From scheduling a fix on their phone, to opening the box when it arrives, we want every interaction with a customer to feel special.</p>
          <p>Our Customer Experience team is designing products and experiences to allow every customer to get the most out of Stitch Fix.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section sectiondark sectionslash">
    <h1>OUR Tools</h1>
    <div class="sectioncontent">
      <div class="w-row twocol">
        <div class="w-col w-col-6 column">
          <h2 class="listhead">Ruby on Rails</h2>
          <p>We us the best parts of Rails 4.2 and Ruby 2.2 to eliminate friction between problem and solution.</p>
          <h2 class="listhead">PostgreSQL</h2>
          <p>Our data is our most valuable asset, and Postgres keeps it clean, manageable, and available.</p>
          <h2 class="listhead">RabbitMQ</h2>
          <p>RabbitMQ keeps our application loosely coupled so they can evolve independently but without duplicating code</p>
          <h2 class="listhead">HipChat, BlueJeans, Lifesize and Screenhero</h2>
          <p>You’ll never feel alone on our nationwide team.</p>
          <h2 class="listhead">Something New?</h2>
          <p>Facing a problem our toolset doesn’t solve? &nbsp;Try out something new—we’re always looking to solve problems better and faster.</p>
        </div>
        <div class="w-col w-col-6 column">
        </div>
      </div>
    </div>
  </div>
  <div class="w-section gridsection imagegrid">
    <div class="w-row workgrid imagegrid">
      <div class="w-col w-col-4 workcell imagegrid">
        <div class="workitem">
          <img class="gridicon imagegrid" src="/assets/images/svgs/icondummy.svg" width="50">
          <h2 class="gridhead">KEEP WHAT YOU LOVE,<br>SEND BACK THE REST</h2>
          <p class="listtext">Only pay for what you keep; your feedback makes your next experience even&nbsp;better!</p>
        </div>
      </div>
      <div class="w-col w-col-4 workcell photo3 imagegrid">
      </div>
      <div class="w-col w-col-4 workcell imagegrid">
        <div class="workitem">
          <img class="gridicon imagegrid" src="/assets/images/svgs/icondummy.svg" width="50">
          <h2 class="gridhead">GET STARTED WITH A&nbsp;<br>PERSONAL STYLE&nbsp;QUIZ</h2>
          <p class="listtext">Create a style profile so your personal stylist can get to know&nbsp;you.</p>
        </div>
      </div>
    </div>
    <div class="w-row workgrid imagegrid">
      <div class="w-col w-col-4 workcell photo imagegrid">
      </div>
      <div class="w-col w-col-4 workcell imagegrid">
        <div class="workitem">
          <img class="gridicon imagegrid" src="/assets/images/svgs/icondummy.svg" width="50">
          <h2 class="gridhead">RECEIVE FIVE PERSONALIZED PIECES,&nbsp;DELIVERED TO YOUR&nbsp;DOOR</h2>
          <p class="listtext">Try on and discover styles hand-picked to fit you, your budget and your&nbsp;style.</p>
        </div>
      </div>
      <div class="w-col w-col-4 workcell photo2 imagegrid">
      </div>
    </div>
  </div>

  {% include team_jobs.html %}
  {% include team_members.html %}
</div>