---
layout: default
---
<div class="w-tab-pane w--tab-active" data-w-tab="Blog">
  <div class="headimage_blog"></div>
  <div class="w-section w-clearfix filterbar" data-ix="filterstick">
    <div class="w-clearfix filterwrapper">
      <p class="filterlabel filtertitle">Filter posts by</p>
      <div class="w-dropdown filter" data-delay="0">
        <div class="w-dropdown-toggle w-clearfix filtercontent">
          <div class="filterlabel">Category</div>
          <div class="w-icon-dropdown-toggle dropdownicon">
          </div>
        </div>
        <nav class="w-dropdown-list dropdownlist">
          <a class="w-dropdown-link dropdownitem" href="#">Engineering</a>
          <a class="w-dropdown-link dropdownitem" href="#">Algorithms</a>
          <a class="w-dropdown-link dropdownitem" href="#">Tools</a>
        </nav>
      </div>
      <div class="w-dropdown filter" data-delay="0">
        <div class="w-dropdown-toggle w-clearfix filtercontent">
          <div class="filterlabel">Author</div>
          <div class="w-icon-dropdown-toggle dropdownicon">
          </div>
        </div>
        <nav class="w-dropdown-list dropdownlist">
          <a class="w-dropdown-link dropdownitem" href="#">Eli Bressert</a>
          <a class="w-dropdown-link dropdownitem" href="#">Chris Moody</a>
          <a class="w-dropdown-link dropdownitem" href="#">Nick Reavill</a>
        </nav>
      </div>
      <div class="w-clearfix search" data-ix="search-field-expand">
        <img class="searchicon" src="/assets/images/svgs/search.svg">
      </div>
    </div>
    <div class="w-clearfix search mobilesearch" data-ix="mobile-search-expand">
      <img class="searchicon" src="/assets/images/svgs/search.svg">
    </div>
  </div>

  {% for post in site.posts %}
    {% assign author = site.data.teams | find_member: post.author_id %}
    <div class="w-row blogpost">
      <div class="w-col w-col-3 byline">
        {% if author.image %}
          <img class="authorheadshot" src="{{ author.image }}">
        {% endif %}
        <div class="blogauthor">
          {% if post.author %}
            {{ post.author }}
          {% elsif author %}
            {{ author.name }} {{ author.lastname }}
          {% endif %}
        </div>
        {% if author.division %}
          <div class="title">{{ author.division }}</div>
        {% endif %}
      </div>
      <div class="w-col w-col-9 blogcolumn">
        <h4><a class="blogtitle" href="{{ post.url }}">{{ post.title }}</a></h4>
        <div class="bloginfo">
          {% if post.author %}
            by {{ post.author }}
          {% elsif author %}
            by {{ author.name }} {{ author.lastname }}
          {% endif %}

          {% if post.categories[0] %}
            in {{ post.categories | join: ", " | capitalize }}
          {% endif %}
          – <date datetime="{{ post.date | date: "%Y-%m-%d"}}">{{ post.date | date: "%B %d, %Y"}}</date>
        </div>
        <!-- TODO: how to get discus comments? <div class="bloginfo comments">6 Comments</div> <!-->

        {{ post.excerpt }}
        <a class="w-inline-block link" href="{{ post.url }}">
          <div class="bloginfo blogjump">Read More&nbsp;»</div>
        </a>
      </div>
    </div>
  {% endfor %}

</div>