---
layout: default
type: algorithms
---
<div class="w-tab-pane w--tab-active" data-w-tab="Algorithms">
  <div class="headimage_algorithms">
  </div>
  <div class="w-section section sectionheader">
    <h2>Algorithms</h2>
    <h3>We breathe data, do awesome data science and engineering, and develop cutting-edge algorithms.</h3>
    <img class="sectionicon" src="http://uploads.webflow.com/55411cb6ae02724a6ecbff7b/552c37c3a76182506a85ea72_datascience.svg" width="60">
  </div>
  <div class="w-section section">
    <img class="arrow" src="http://uploads.webflow.com/55411cb6ae02724a6ecbff7b/550743b28c1e889e26b134fd_arrowgb.svg" width="40">
    <h1>Our Priorities</h1>
    <div class="sectioncontent">
      <div class="w-row twocol">
        <div class="w-col w-col-6 column">
        </div>
        <div class="w-col w-col-6 column">
          <h2 class="listhead">Data artistry</h2>
          <p>We commit to our recommendations by physically delivering them to our clients. Our business requires a mix of art and science in everything we do: from buying inventory to sending the right items to the right customers.</p>
          <h2 class="listhead">Technological greenfield</h2>
          <p>We’ve built just a fraction of the tools and solutions that we need. The combination of data and fashion puts in a unique place where we can envision and forge the next generation of tools and methods at our company and abroad.</p>
          <h2 class="listhead">Focus on what matters</h2>
          <p>Our data is information rich and that allows you to focus on the models, methods, and code.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section sectiondark sectionslash">
    <h1>Our Priorities</h1>
    <div class="sectioncontent">
      <div class="w-row twocol">
        <div class="w-col w-col-6 column">
          <h2 class="listhead">Data artistry</h2>
          <p>We commit to our recommendations by physically delivering them to our clients. Our business requires a mix of art and science in everything we do: from buying inventory to sending the right items to the right customers.</p>
          <h2 class="listhead">Technological greenfield</h2>
          <p>We’ve built just a fraction of the tools and solutions that we need. The combination of data and fashion puts in a unique place where we can envision and forge the next generation of tools and methods at our company and abroad.</p>
          <h2 class="listhead">Focus on what matters</h2>
          <p>Our data is information rich and that allows you to focus on the models, methods, and code.</p>
        </div>
        <div class="w-col w-col-6 column">
        </div>
      </div>
    </div>
  </div>
  <div class="w-section gridsection imagegrid wrapper">
    <div class="w-row workgrid imagegrid">
      <div class="w-col w-col-4 workcell imagegrid">
        <div class="workitem">
          <img class="gridicon imagegrid" src="http://uploads.webflow.com/55411cb6ae02724a6ecbff7b/550aec015b7ee5ba660e3a67_icondummy.svg" width="50">
          <h2 class="gridhead">KEEP WHAT YOU LOVE,<br>SEND BACK THE REST</h2>
          <p class="listtext">Only pay for what you keep; your feedback makes your next experience even&nbsp;better!</p>
        </div>
      </div>
      <div class="w-col w-col-4 workcell photo3 imagegrid">
      </div>
      <div class="w-col w-col-4 workcell imagegrid">
        <div class="workitem">
          <img class="gridicon imagegrid" src="http://uploads.webflow.com/55411cb6ae02724a6ecbff7b/550aec015b7ee5ba660e3a67_icondummy.svg" width="50">
          <h2 class="gridhead">GET STARTED WITH A&nbsp;<br>PERSONAL STYLE&nbsp;QUIZ</h2>
          <p class="listtext">Create a style profile so your personal stylist can get to know&nbsp;you.</p>
        </div>
      </div>
    </div>
    <div class="w-row workgrid imagegrid">
      <div class="w-col w-col-4 workcell photo imagegrid">
      </div>
      <div class="w-col w-col-4 workcell imagegrid">
        <div class="workitem">
          <img class="gridicon imagegrid" src="http://uploads.webflow.com/55411cb6ae02724a6ecbff7b/550aec015b7ee5ba660e3a67_icondummy.svg" width="50">
          <h2 class="gridhead">RECEIVE FIVE PERSONALIZED PIECES,&nbsp;DELIVERED TO YOUR&nbsp;DOOR</h2>
          <p class="listtext">Try on and discover styles hand-picked to fit you, your budget and your&nbsp;style.</p>
        </div>
      </div>
      <div class="w-col w-col-4 workcell photo2 imagegrid">
      </div>
    </div>
  </div>

  {% include team_jobs.html %}
  {% include team_members.html %}
</div>