  /*doc
  ---
  title: Flexbox
  name: flexbox
  category: elements - flexbox
  ---

  Flexbox is a way to create a better set of fluid elements in modern browsers.
  The standard flexbox consists of a parent container and any number of child elements.

  Use `.flex-container` as the parent and `.flex-item` as the child.

  Flexbox styles are still being worked on and can be considered "experimental"

  ```html_example
  <div class="flex-container">
    <div class="flex-item flex-left f-lg bordered border-xs"> 1 </div>
    <div class="flex-item flex-left f-lg bordered border-xs"> 2 </div>
    <div class="flex-item flex-left f-lg bordered border-xs"> 3 </div>
  </div>
  ```

  Use `.flex-N` where N is a number from 0 to 4 to control the relative width of a `flex-item`.

  ```html_example
  <div class="flex-container">
    <div class="flex-item flex-1 p1 bg-gray-lightest">Flex 1</div>
    <div class="flex-item flex-2 p1 bg-gray-light">Flex 2</div>
    <div class="flex-item flex-3 p1 bg-gray-lightest">Flex 3</div>
    <div class="flex-item flex-4 p1 bg-gray-light">Flex 4</div>
  </div>
  ```

  */

@mixin flex_styles {

  %flex-container,
  .flex-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    %flex-item,
    .flex-item {
      margin-left: auto;
      margin-right: auto;
      -webkit-flex: 1;
              flex: 1;
    }
    %flex-left,
    .flex-left {
      margin-left: 0;
    }
    %flex-0,
    .flex-0 {
      -webkit-flex: 0;
              flex: 0;
    }
    %flex-2,
    .flex-2 {
      -webkit-flex: 2;
              flex: 2;
    }
    %flex-3,
    .flex-3 {
      -webkit-flex: 3;
              flex: 3;
    }
    %flex-4,
    .flex-4 {
      -webkit-flex: 4;
              flex: 4;
    }
  }


  /*doc
  ---
  title: "Flex list"
  name: flexlist
  category: elements - flexbox
  ---

  Use `.list-flex` on lists to create `li` children as flexible sections.

  You can think of flex lists as a way to present list information like in a table,
  but that isn't necessarily tabular data.

  Flexbox styles are still being worked on and can be considered "experimental"

  ```html_example
  <ul class="list-flex">
    <li class="list-header bg-gray-lightest"> List header </li>
    <li class="bg-gray-light"> List item </li>
    <li class="bg-gray-lightest"> List item </li>
    <li class="bg-gray-light"> List item </li>
    <li class="bg-gray-lightest"> List item </li>
  </ul>
  ```

  */

  %list-flex,
  .list-flex {
    @extend %flex-container;
    @extend %m0 !optional;
    list-style: none;
    padding-left: 0;

    li {
      @extend %flex-item;
      @extend %flex-2;
      @extend %m0 !optional;

      &.list-header {
        @extend %text-r !optional;
        @extend %flex-4;
        @extend %px1 !optional;
      }
    }
  }
}
