/*doc
---
title: "Customizing tables"
name: tables-variables
category: elements - tables
---

*Overwrite these variables in `_custom_variables.scss` to change these defaults.*

```
$table-cell-pad:           1rem 1rem !default;
$table-cell-condensed-pad: 0.5rem 0.5rem !default;

$table-bg:             transparent !default;
$table-header-border:  rgba(0, 0, 0, 0.1) !default;
$table-footer-border:  rgba(0, 0, 0, 0.1) !default;
$table-header-bg:      transparent !default;
$table-footer-bg:      transparent !default;
$table-cell-border:    rgba(0, 0, 0, 0.1) !default;
$table-stripe-color:   #F0F0F0 !default;
$table-hover-color:    #E7E7E7 !default;
$table-border-color:   rgba(0, 0, 0, 0.1) !default;
$table-vertical-align: middle !default;

$table-stripe-dark-color: rgba(255, 255, 255, 0.1) !default;
$table-hover-dark-color:  rgba(255, 255, 255, 0.2) !default;
```

*/


/*doc
---
title: Tables
name: tables
category: elements - tables
---

There's some basic styling applied to `table` tags and children to make it more
browser-friendly, but there's also several classes to help define some basic
UX-ready tables. Many of these classes can be combined or nested as needed.

#####Default table
```html_example
<table>
  <thead>
    <tr>
      <th>Table Header 1</th>
      <th>Table Header 2</th>
      <th>Table Header 3</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Table Footer 1</td>
      <td>Table Footer 2</td>
      <td>Table Footer 3</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
  </tbody>
</table>
```

#####Unstyled table
```html_example
<table class='table-unstyled'>
  <thead>
    <tr>
      <th>Table Header 1</th>
      <th>Table Header 2</th>
      <th>Table Header 3</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Table Footer 1</td>
      <td>Table Footer 2</td>
      <td>Table Footer 3</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
  </tbody>
</table>
```

#####Condensed table
```html_example
<table class="table-condensed">
  <thead>
  <tr>
    <th>Table Header 1</th>
    <th>Table Header 2</th>
    <th>Table Header 3</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td>Table Footer 1</td>
    <td>Table Footer 2</td>
    <td>Table Footer 3</td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  </tbody>
</table>
```

#####Zero padding table
```html_example
<h2 class="h4">No padding Table</h2>
<table class="table-nopad">
  <thead>
  <tr>
    <th>Table Header 1</th>
    <th>Table Header 2</th>
    <th>Table Header 3</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td>Table Footer 1</td>
    <td>Table Footer 2</td>
    <td>Table Footer 3</td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  </tbody>
</table>
```

#####Bordered table
```html_example
<h2 class="h4">Bordered Table</h2>
<table class="table-bordered">
  <thead>
  <tr>
    <th>Table Header 1</th>
    <th>Table Header 2</th>
    <th>Table Header 3</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td>Table Footer 1</td>
    <td>Table Footer 2</td>
    <td>Table Footer 3</td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  </tbody>
</table>
```

#####Striped table
```html_example
<h2 class="h4">Striped Table</h2>
<table class="table-striped">
  <thead>
  <tr>
    <th>Table Header 1</th>
    <th>Table Header 2</th>
    <th>Table Header 3</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td>Table Footer 1</td>
    <td>Table Footer 2</td>
    <td>Table Footer 3</td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  </tbody>
</table>
```

#####Hoverable table rows
```html_example
<h2 class="h4">Hoverable Table</h2>
<table class="table-hover">
  <thead>
  <tr>
    <th>Table Header 1</th>
    <th>Table Header 2</th>
    <th>Table Header 3</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td>Table Footer 1</td>
    <td>Table Footer 2</td>
    <td>Table Footer 3</td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  <tr>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
    <td>Table Body 1</td>
  </tr>
  </tbody>
</table>
```

#####Striped and hoverable for dark backgrounds
```html_example
<div class="p1 skin-gray-dark">
  <p> ProTip: use the "full-width" utility class to force a table to extend the width of its container.
  <table class="table-striped-dark full-width">
    <thead>
    <tr>
      <th>Table Header 1</th>
      <th>Table Header 2</th>
      <th>Table Header 3</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td>Table Footer 1</td>
      <td>Table Footer 2</td>
      <td>Table Footer 3</td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
    </tbody>
  </table>
  <hr/>

  <table class="table-hover-dark">
    <thead>
    <tr>
      <th>Table Header 1</th>
      <th>Table Header 2</th>
      <th>Table Header 3</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td>Table Footer 1</td>
      <td>Table Footer 2</td>
      <td>Table Footer 3</td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
    <tr>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
      <td>Table Body 1</td>
    </tr>
    </tbody>
  </table>
</div>
```
*/

@mixin tables_styles {
  %table,
  .table,
   table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $font-size-base;
    line-height: $font-size-base;
    max-width: 100%;
    overflow-y: auto;
    @if variable_exists(table-bg){ background-color: $table-bg;}

    @include at_breakpoint(ltsm) {
      display: block;
      position: relative;
      display: -webkit-box;
      overflow-x: auto;
    }

    &.table-full {
      width: 100%;
    }
  }

  tbody { text-align: left; }

  thead {
    text-align: left;

    tr { background-color: $table-header-bg; }
    th {
      border-bottom: 2px solid $table-header-border;
      vertical-align: bottom;
      line-height: $font-size-base - 2;
    }
  }

  tfoot {
    tr { background-color: $table-footer-bg; }
    td {
      line-height: $font-size-base;
      border-bottom: 0;
      @if variable_exists(table-bg){ background-color: $table-bg; }
      @else {                        background-color: transparent; }
    }
  }

  th {
    font-weight: $font-weight-thick;
  }

  td,
  th {
    padding: $table-cell-pad;
    line-height: $font-size-base - 1;
    border-bottom: 1px solid $table-cell-border;
    vertical-align: $table-vertical-align;
  }

  %table-unstyled,
  .table-unstyled {
    > tbody > tr > td,
    > tbody > tr > th,
    > thead > tr > th,
    > tfoot > tr > td,
    > tr > td,
    > tr > th {
      border-bottom-color: transparent;
    }
  }

  %table-condensed,
  .table-condensed {
    > tbody > tr > td,
    > tbody > tr > th,
    > thead > tr > th,
    > tfoot > tr > td,
    > tr > td,
    > tr > th {
      padding: $table-cell-condensed-pad;
    }
  }

  %table-nopad,
  .table-nopad {
    > tbody > tr > td,
    > tbody > tr > th,
    > thead > tr > th,
    > tfoot > tr > td,
    > tr > td,
    > tr > th {
      padding: 0;
    }
  }

  %table-bordered,
  .table-bordered {
    border-top: 1px solid $table-border-color;

    > tbody > tr > td,
    > tbody > tr > th,
    > thead > tr > th,
    > tfoot > tr > td,
    > tr > td,
    > tr > th {
      border: 1px solid $table-border-color;
      border-top: none;
      line-height: $font-size-base - 1;
    }

    > thead > th {
      border: 1px solid $table-border-color;
      line-height: $font-size-base - 2;
    }
  }

  %table-striped,
  .table-striped {
    thead, tbody, tfoot {
      > tr:nth-child(odd) > td {
        background-color: $table-stripe-color;
      }
    }
  }
  %table-striped-dark,
  .table-striped-dark {
    thead, tbody, tfoot {
      > tr:nth-child(odd) > td {
        background-color: $table-stripe-dark-color;
      }
    }
  }
  %table-striped,
  .table-striped,
  %table-striped-dark,
  .table-striped-dark {
    tfoot > tr:nth-child(odd) > td {
      @if variable_exists(table-bg) {
        background-color: $table-bg;
      } @else {
        background-color: transparent;
      }
    }
  }

  %table-hover,
  .table-hover {
    thead, tbody, tfoot {
      > tr:hover > td {
        background-color: $table-hover-color;
      }
    }
  }
  %table-hover-dark,
  .table-hover-dark {
    thead, tbody, tfoot {
      > tr:hover > td {
        background-color: $table-hover-dark-color;
      }
    }
  }
  %table-hover,
  .table-hover,
  %table-hover-dark,
  .table-hover-dark {
    > tfoot > tr:hover > td {
      @if variable_exists(table-bg){ background-color: $table-bg; }
        @else { background-color: transparent; }
    }
  }
}