<div class="w-nav header">
  <div class="w-container navcontainer">
    <a href="/" class="w-clearfix w-inline-block logo w--current">
      <img class="logo" src="/assets/images/svgs/logov5.svg">
    </a>
    <div class="w-dropdown mobilenav">
      <div class="w-dropdown-toggle mobilenavtoggle">
        <img src="/assets/images/svgs/hamburger_gr.svg" height="25" width="150">
      </div>
      <nav class="w-dropdown-list">
        <a class="w-dropdown-link mobilenavlink" href="{{ site.baseurl }}/">Stitch Fix</a>
        <a class="w-dropdown-link mobilenavlink" href="{{ "/engineering" | prepend: site.url }}">Engineering</a>
        <a class="w-dropdown-link mobilenavlink" href="/algorithms">Algorithms</a>
        <a class="w-dropdown-link mobilenavlink" href="/jobs">Jobs</a>
        <a class="w-dropdown-link mobilenavlink lastlink" href="/blog">Blog</a>
      </nav>
    </div>
    <a class="w-nav-brand logo" href="#"></a>
  </div>
  <div class="w-nav-overlay"></div>
</div>

<div class="w-tab-menu tabmenu">
  <a href="/" class="w-tab-link w-inline-block tab{% if page.type == 'home' %} w--current{% endif %}">
    <div class="tablink">Stitch Fix</div>
    {% if page.type == 'home' %}
      <img class="tabarrow initialtab" src="/assets/images/svgs/arrowgb_1.svg">
    {% endif %}
  </a>
  <a href="/engineering" class="w-tab-link w-inline-block tab {% if page.type == 'engineering' %}w--current{% endif %}">
    <div class="tablink">Engineering</div>
    {% if page.type == 'engineering' %}
      <img class="tabarrow initialtab" src="/assets/images/svgs/arrowgb_1.svg">
    {% endif %}
  </a>
  <a href="/algorithms" class="w-tab-link w-inline-block tab {% if page.type == 'algorithms' %}w--current{% endif %}">
    <div class="tablink">Algorithms</div>
    {% if page.type == 'algorithms' %}
      <img class="tabarrow initialtab" src="/assets/images/svgs/arrowgb_1.svg">
    {% endif %}
  </a>
  <a href="/jobs" class="w-tab-link w-inline-block tab {% if page.type == 'jobs' %}w--current{% endif %}">
    <div class="tablink">Jobs</div>
    {% if page.type == 'jobs' %}
      <img class="tabarrow initialtab" src="/assets/images/svgs/arrowgb_1.svg">
    {% endif %}
  </a>
  <a href="/blog" class="w-tab-link w-inline-block tab {% if page.type == null %}w--current{% endif %}">
    <div class="tablink">Blog</div>
    {% if page.type == null %}
      <img class="tabarrow initialtab" src="/assets/images/svgs/arrowgb_1.svg">
    {% endif %}
  </a>
</div>