/*doc
---
title: Container
name: container
category: Structure
---

The `.container` class, when included, will constrain the width of its
children and collapse based on defined media breakpoints.

*/


/* Container
   ========================================================================== */
/**
* 1. Include a $container-max if you want to constrain the maximum allowable
*    width for the container, regardless of breakpoint constraints.
*
* 2. Center the container by default.
*
* 3. @if statement handles
*/

/* Container constraint variables */

$container-pad:   10px !default;
$container-sm:    ($media-width-sm - ($container-pad*2)) !default;
$container-md:    ($media-width-md - ($container-pad*2)) !default;
$container-lg:    ($media-width-lg - ($container-pad*2)) !default;
$container-xl:    ($media-width-xl - ($container-pad*2)) !default;

$container-max:   null !default; /* 1 */

// $container-align - possible values: left / right / center
$container-align: center !default; /* 2 */

.container {
  @extend %clearfix;
  padding: 0 $container-pad;
  max-width: $container-max;

  & > .container {
    padding: 0 !important;
  }

  @if $container-align == left { /* 3 */
    margin-left: 0;
    margin-right: auto;
  } @else if $container-align == right {
    margin-left: auto;
    margin-right: 0;
  } @else {
    margin-left: auto;
    margin-right: auto;
  }


  /**
  * @include at_breakpoints to collapse the container as it reaches
  * each breakpoint.
  */

  @include at_breakpoint(xl) { /* 4 */
    width: $container-xl;
  }
  @include at_breakpoint(ltxl) {
    width: $container-lg;
  }
  @include at_breakpoint(ltlg) {
    width: $container-md;
  }
  @include at_breakpoint(ltmd) {
    width: $container-sm;
  }
  @include at_breakpoint(ltsm) {
    width: 100%;
  }


  /*doc
  ---
  title: "Container extensions"
  name: container-extensions
  category: Structure
  ---

  Use `.flex` to extend the `.container` class and allow a fully flexible,
  100% width container that still pads the sides appropriately. Totally
  works well with the grid classes, too.

  Use `.contain-to-N to` extend the `.container` class to set a max width for
  a particular container. By default, the `.container` class contains to xl.

  **For example:** Maybe a text-heavy section will read better when contained to
  a "md" size, but the header and footer can remain contained to "xl" size.

  */


  /**
    * 1. Use .flex to extend the .container class and allow a fully flexible,
    *    100% width container that still pads the sides appropriately. Totally
    *    works well with the grid classes, too.
    *
    * 2. Use .contain-to-N to extend the .container class to set a max width for
    *    a particular container. By default, the .container class contains to xl.
    *
    * For example: Maybe a text-heavy section will read better when contained to
    * a "md" size, but the header and footer can remain contained to "xl" size.
    */

  &.flex { /* 1 */
    max-width: 100%;
    width: 100%;
  }

  /* 2 */
  &.contain-to-lg { max-width: $container-lg; }
  &.contain-to-md { max-width: $container-md; }
  &.contain-to-sm { max-width: $container-sm; }
}

