/* Humble Kit
   ========================================================================== */

$small-size: 80;
$font-weight-base: 500;
$font-weight-thin: 300;
$font-weight-thick: 700;
$btn-bg-secondary: $dark-gray;

$user-font-family-sans-serif: BrandonText !default;