/* Humble Kit
   ========================================================================== */

$small-size: 80;
$font-weight-base: 400;
$font-weight-thin: 300;
$font-weight-thick: 700;
$btn-bg-secondary: $dark-gray;