.blog .post-content {
  @for $i from 1 through 6 {
    h#{$i} {
      margin-top:    $margin-base*4;
    }
  }
}

.post-link {
  @for $i from 1 through 6 {
    .h#{$i} {
      display: block;
    }
  }
  date, time {
    @extend %small;
    @extend %light;
  }

  @extend %border-b;
  @extend %border-gray-light;

}

img.post-image {
  width: 50%;
  padding: $pad-v-sm $pad-h-md;

  &.post-image-right {
    float: right;
  }
  &.post-image-left {
    float: left;
  }
}
