@charset "UTF-8";

/* Humble Kit
   ========================================================================== */
$small-size: 80;

$light-gray: #bebfc1;
$lightest-gray: #efefef;
$dark-gray: #706f73;
$darkest-gray: #464547;
$mint-green: #9ed7d1;
$body-text: #444;

// Copied directly from new brand guidelines
$mint-link-color: #68bcb0;
$pink-accent-color: #ff5d60;
$off-white: rgb(254, 250, 247);

// Links
$link-color:         $mint-link-color;
$link-hover-color:   $mint-link-color;
$link-active-color:  $pink-accent-color;
$link-visited-color: $mint-link-color;

$brandon-text: 'BrandonText', Molengo, 'Gill Sans', 'Calibri', 'Trebuchet MS', sans-serif;
$brandon-gt: 'BrandonGrotesque', Molengo, 'Gill Sans', 'Calibri', 'Trebuchet MS', sans-serif;

@import "humble_kit.css.scss";
@import "webfonts.scss";

@import "blog.css.scss";
@import "code.css.scss";

body {
  font-family: $brandon-text;
  position: relative; // For scrollspy
  font-size: 20px;
  line-height: 1.2;
  text-spacing: 0;
}
html, body {
  background-color: $off-white;
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    font-family: $brandon-gt;
  }
}

.header {
  font-family: $brandon-gt;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
  text-spacing: 50;
}
.title {
  font-family: $brandon-gt;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.4;
  text-spacing: 0;
  text-transform: none;
}

h5, .h5, p, .p, dl, ol, ul{
  font-size: 1.1em;
}
.small-dl{
  dl {
    font-size: 1em;
  }
}
img.logo {
  display: inline-block;
  margin-right: 10px;
}

.skin-mint {
  background-color: $mint-green;
  a, a:visited, a:active {
    color: $off-white;
    &.dark {
      color: $body-text;
    }
  }
}
.skin-light-gray {
  background-color: $light-gray;
  .light {
    color: $lightest-gray;
  }
  a, a:visited, a:active {
    color: $off-white;
  }
}
.skin-lightest-gray {
  background-color: $lightest-gray;
}
.skin-dark-gray {
  background-color: $dark-gray;
}
.skin-darkest-gray {
  background-color: $darkest-gray;
  color: $off-white;
}
.skin-dot {
  background-image: url('/assets/images/stitchfix-dot-full-trans.svg');
  background-position: 0 80px;
}

.text-body-color{
  color: $body-text;
}
a.text-body-color {
  &, &:visited {
    color: $body-text;
  }
  &:hover {
    color: $mint-link-color;
  }
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background-color: $dark-gray;
  text-transform: uppercase;

  li{
    margin-bottom: 0;
  }
  h1, .h3{
    margin-bottom: 10px;
  }
  h1{
    margin-right: 20px;
  }

  a, .btn, .btn-link{
    color: #fff;
    &:hover{
      color: #333;
      background-color: $mint-green;
    }
    &:visited{
      color: #eee;
    }
  }
  .active{
    a, .btn, .btn-link{
      color: #333;
      background-color: $mint-green;
    }
  }
}

.btn-primary {
  background-color: $mint-green;
  color: $off-white;
  border-color: transparent;
  &:hover, &:visited {
    background-color: $mint-green;
    border-color: transparent;
  }
}

$nav-transition-speed: 0.2s;
.nav-trans {
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  -webkit-transition: all $nav-transition-speed;
  -moz-transition: all $nav-transition-speed;
  -ms-transition: all $nav-transition-speed;
  -o-transition: all $nav-transition-speed;
  transition: all $nav-transition-speed;
}

.full-height {
  height: 100vh;
}
.two-thirds-height {
  height: 66vh;
}
.three-quarter-height {
  height: 75vh;
}
.bg-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img {
  width: 100%;
}
.trans9{
  opacity: 0.9;
}

.team-img {
  img {
    width: 100%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.post-link {
  @for $i from 1 through 6 {
    .h#{$i} {
      display: block;
    }
  }
  date, time {
    font-size: $small-size#{$small-size-unit};
    color: $light-gray;
  }
  border-bottom: 1px solid $hr-color;
}
.p10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.mt6 {
  margin-top: 6rem;
}