@import url("//hello.myfonts.net/count/2b26e2");


@font-face {
  font-family: BrandonText;
  font-weight: 500;
  font-style: italic;
  src: url('/assets/webfonts/brandon/2B26E2_0_0.eot');
  src: url('/assets/webfonts/brandon/2B26E2_0_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/brandon/2B26E2_0_0.woff') format('woff'),
  url('/assets/webfonts/brandon/2B26E2_0_0.ttf') format('truetype'),
  url('/assets/webfonts/brandon/2B26E2_0_0.svg#wf') format('svg');
}

@font-face {
  font-family: BrandonText;
  font-weight: 500;
  font-style: normal;
  src: url('/assets/webfonts/brandon/2B26E2_1_0.eot');
  src: url('/assets/webfonts/brandon/2B26E2_1_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/brandon/2B26E2_1_0.woff') format('woff'),
  url('/assets/webfonts/brandon/2B26E2_1_0.ttf') format('truetype'),
  url('/assets/webfonts/brandon/2B26E2_1_0.svg#wf') format('svg');
}


@font-face {
  font-family: BrandonText;
  font-weight: 700;
  font-style: normal;
  src: url('/assets/webfonts/brandon/2B26E2_2_0.eot');
  src: url('/assets/webfonts/brandon/2B26E2_2_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/brandon/2B26E2_2_0.woff') format('woff'),
  url('/assets/webfonts/brandon/2B26E2_2_0.ttf') format('truetype'),
  url('/assets/webfonts/brandon/2B26E2_2_0.svg#wf') format('svg');
}


@font-face {
  font-family: BrandonGrotesque;
  font-weight: 600;
  font-style: normal;
  src: url('/assets/webfonts/brandon/2B26E2_3_0.eot');
  src: url('/assets/webfonts/brandon/2B26E2_3_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/brandon/2B26E2_3_0.woff') format('woff'),
  url('/assets/webfonts/brandon/2B26E2_3_0.ttf') format('truetype'),
  url('/assets/webfonts/brandon/2B26E2_3_0.svg#wf') format('svg');
}


@font-face {
  font-family: BrandonGrotesque;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/webfonts/brandon/2B26E2_4_0.eot');
  src: url('/assets/webfonts/brandon/2B26E2_4_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/brandon/2B26E2_4_0.woff') format('woff'),
  url('/assets/webfonts/brandon/2B26E2_4_0.ttf') format('truetype'),
  url('/assets/webfonts/brandon/2B26E2_4_0.svg#wf') format('svg');
}


@font-face {
  font-family: BrandonGrotesque;
  font-weight: 200;
  font-style: normal;
  src: url('/assets/webfonts/brandon/2B26E2_5_0.eot');
  src: url('/assets/webfonts/brandon/2B26E2_5_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/brandon/2B26E2_5_0.woff') format('woff'),
  url('/assets/webfonts/brandon/2B26E2_5_0.ttf') format('truetype'),
  url('/assets/webfonts/brandon/2B26E2_5_0.svg#wf') format('svg');
}


@font-face {
  font-family: BrandonGrotesque;
  font-weight: 800;
  font-style: normal;
  src: url('/assets/webfonts/brandon/2B26E2_6_0.eot');
  src: url('/assets/webfonts/brandon/2B26E2_6_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/webfonts/brandon/2B26E2_6_0.woff') format('woff'),
  url('/assets/webfonts/brandon/2B26E2_6_0.ttf') format('truetype'),
  url('/assets/webfonts/brandon/2B26E2_6_0.svg#wf') format('svg');
}