/*doc
---
title: Links
name: links
category: Elements
---

Links have basic styling for `:hover` `:active` and `:visited` by default. There's
also a couple of classes you can use to make links more universally useful.

```html_example
<div class="p1">
  <a href="#">Standard link</a>
</div>
<div class="p1" style="background-color: #666;">
  <a href="#" class="light">"Light" link for dark backgrounds</a>
  <br>
  <a href="#" class="link-white">Forced white text link</a>
  <br>
  <a href="#" class="link-white u">Use .u to force an underline</a>
</div>

```

*/

$link-gray:       #BBC;
$link-blue:       #3874b5;
$link-blue-soft:  #77abc9;
$link-blue-light: #284c72;

$link-color:            $link-blue !default;
$link-hover-color:      $link-blue-soft !default;
$link-active-color:     $link-blue !default;
$link-visited-color:    $link-blue !default;

$link-light-color:         $link-blue-soft !default;
$link-light-hover-color:   $link-blue-light !default;
$link-light-active-color:  $link-blue-soft !default;
$link-light-visited-color: $link-blue-soft !default;

$transition-speed:        200ms !default;
$transition-speed-fast:   100ms !default;
$transition-speed-slow:   400ms !default;
$link-transition-speed: $transition-speed !default;


// Options

$link-underline-option:        false !default;
$link-border-underline-option: false !default;
$link-transition-option:       true  !default;
$link-underline-hover-option:  false !default;

a {
  color: $link-color;

  @if $link-underline-option {
    text-decoration: underline;

    @if $link-border-underline-option {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
  @else { text-decoration: none; }

  @if $link-transition-option   { -webkit-transition: color, $link-transition-speed;-moz-transition: color, $link-transition-speed;-ms-transition: color, $link-transition-speed;-o-transition: color, $link-transition-speed;transition: color, $link-transition-speed; }

  &:visited {
    color: $link-visited-color;
  }

  &.light {
    color: $link-light-color;

    &:visited {
      color: $link-light-visited-color;
    }
    &:hover {
      color: $link-light-hover-color;
    }
    &:active {
      color: $link-light-active-color;
    }
  }

  &.link-white {
    color: white;

    &:visited,
    &:hover,
    &:active {
      color: white;
    }
  }

  &:hover {
    color: $link-hover-color;

    @if $link-underline-hover-option {
      @if $link-border-underline-option {
        text-decoration: none;
        border-bottom: 1px solid;
      }
      @else {
        text-decoration: underline;
      }
    }
  }
  &:active {
    color: $link-active-color;
  }
}