/* Base - styles and settings needed for all projects.
   ========================================================================== */
@import "base/variables.css.scss";
@import "base/reset.css.scss";
@import "base/mixins.css.scss";


/* Typography - everything typography-related
   ========================================================================== */
@import "typography/typography.css.scss";


/* Elementary - fundamental styling for commonly-used tags
   ========================================================================== */
/**
* Standalones. Don't like it? Leave it out.
*/
@import "elements/links.css.scss";
@import "elements/lists.css.scss";
@import "elements/tables.css.scss";
@import "elements/forms.css.scss";


/* Structure - Helpers that manage the layout and vertical rhythm of a site.
   ========================================================================== */
/**
* These will be the most invasive classes for your markup for a good reason:
* You want to be able to glance at the markup and get an idea of what the
* layout will be. I have no problem creating many classes to help structure
* a site. If you make fundamental changes to your structure later, you will
* be making markup changes anyway, right?
*/
@import "structure/layout.css.scss";
@import "structure/containers.css.scss";
@import "structure/grid.css.scss";


/* Modules - REUSABLE patterns. I'm only forcing one on you: buttons.
   ========================================================================== */
/**
* But don't be scared. These buttons are highly customizable and friendly!
*/
@import "modules/buttons.css.scss";