/* Base - global setup, styles, and classes for any project
   ========================================================================== */
@import "base/variables.css.scss";
@import "base/reset.css.scss";
@import "base/mixins.css.scss";
@import "base/typography.css.scss";


/* Elements - basic default styling for fundamental elements
   ========================================================================== */
@import "elements/links.css.scss";
@import "elements/lists.css.scss";
@import "elements/tables.css.scss";
@import "elements/forms.css.scss";
@import "elements/flex.css.scss";

@if $include-flex-option == true {
  @include flex_styles;
}


/* Structure - Helpers that manage the layout and vertical rhythm of a site.
   ========================================================================== */
@import "structure/layout.css.scss";
@import "structure/containers.css.scss";
@import "structure/grid.css.scss";


/* Modules - reusable patterns commonly found on most web apps
   ========================================================================== */
@import "modules/media.css.scss";
@import "modules/buttons.css.scss";