@import "images.css.scss";
@import "lists.css.scss";
@import "code.css.scss";

blockquote {
  background: $lightest-gray;
  border-left: 10px solid $light-gray;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: $light-gray;
  content: open-quote;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 0;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
