{% include _head.html %}
  <body>
  {% include _header.html %}
    <section>
      <div class="column-wrapper section-padding">
        {{content}}
        {% include _contact_us.html %}
      </div>
    </section>
    <section>
      <div class="section-padding bg-green">
        <div class="column-wrapper">
          <h1 class="h4  sans-serif"><strong>Other open positions</strong></h1>
          {% include _job_links.html %}
        </div>
      </div>
    </section>
    {% include _footer.html %}
    {% include _js.html %}
  </body>
</html>
