<!DOCTYPE html>
<html lang="en">
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  {% include _head.html %}
  <body class="blog">
    {% include _header.html %}
    <div class="container contain-to-md mt2 mb2" id="blog">
      <header class="text-c py8">
        <h1 class="h1 thin">{{ page.title }}</h1>
        <h2 class="h2 thin light mb1">
          by <a href="{{ page.author_url }}">{{ page.author }}</a>
          on <date datetime="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%B %d, %Y"}}</date>
        </h2>
        {% if page.location %}
        <h3 class="h4 thin light m0">
          from {{ page.location }}
        </h3>
        {% endif %}
      </header>
    </div>
    <section class="container contain-to-md">
      <article class="post-content">
        {% if page.image %}
          {% if page.image_position %}
            {% if page.image_border %}
              <img src="/assets/images/blog/{{ page.image }}" class="post-image post-image-{{ page.image_position }} post-image-bordered">
            {% else %}
              <img src="/assets/images/blog/{{ page.image }}" class="post-image post-image-{{ page.image_position }}">
            {% endif %}
          {% else %}
            {% if page.image_border %}
              <img src="/assets/images/blog/{{ page.image }}" class="post-image post-image-right post-image-bordered">
            {% else %}
              <img src="/assets/images/blog/{{ page.image }}" class="post-image post-image-right ">
            {% endif %}
          {% endif %}
        {% endif %}
        {{ content }}
      </article>
    </section>
    <section class="container contain-to-md m4">
      <article>
        {% include _disqus.html %}
      </article>
    </section>
    {% include _footer.html %}
  </body>
</html>
