/* Custom colors
   ========================================================================== */

$sf-dark-mint: rgb(103, 186, 175);
$sf-mint: rgb(159, 216, 210);
$sf-off-white: rgb(254, 250, 247);
$sf-red: rgb(255, 93, 96);
$sf-warm-grey: rgb(132, 124, 119);
$sf-dark-grey: rgb(69, 54, 53);

$light-gray: #bebfc1;
$lightest-gray: #efefef;
$dark-gray: #706f73;
$darkest-gray: #464547;
$mint-green: rgb(159, 216, 210);
$yellow: #f2e230;
$dark-mint: rgb(103, 186, 175);

$brand-danger: red;
$brand-warning: yellow;
$brand-success: green;