/* Humble Kit
   ========================================================================== */

$small-size: 80;
$font-weight-base: 500;
$font-weight-thin: 300;
$font-weight-thick: 700;
$btn-bg-secondary: $dark-gray;

$user-font-family-sans-serif: BrandonText;

$link-color: $sf-dark-mint;
$link-hover-color: darken($sf-dark-mint, 25%);
$link-active-color: $sf-dark-mint;
$link-visited-color: $sf-dark-mint;

$btn-bg-primary: $sf-mint;