.social {
  a {
    @extend %f6;
    &, &:visited {
      color: $text-base-color;
    }
    &:hover {
      color: $dark-mint;
    }
  }
}

.member-info {
  img {
    width: 100%;
  }
}

.bio {
  $bio-height: 80px;
  p {
    font-size: #{$small-size}#{$small-size-unit};
    line-height: 1.2rem;
  }
  padding: 6px 0;
  max-height: $bio-height;
  position: relative;
  overflow: hidden;
  .read-more {
    margin-bottom: 0;
    &, a {
      width: 100%;
      height: $bio-height;
      display: block;
    }
    a {
      text-decoration: none;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;

    background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }
}